<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['WebLinkGen']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>{{lang.text['WebLinkGen']['subtitle']}}</ion-label>
  </ion-item-divider>
  <img *ngIf="QRCodeSRC" [src]="QRCodeSRC" (click)="copy_result_address()"
    style="width: 100%; height: auto; cursor: copy;" alt="QRCodeSRC">
  <div>
    <textarea class="infobox" (keyup)="update_qrcode($event)" [(ngModel)]="result_address"></textarea>
  </div>
  <ion-item-divider>
    <ion-label>{{lang.text['WebLinkGen']['CustomInfo']}}</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input [label]="lang.text['WebLinkGen']['baseURL']" class="ion-text-end" [(ngModel)]="userInput.root"
      [placeholder]="targetBaseURL" (ionInput)="baseURLChanged($event)"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select [label]="lang.text['QuickQRShare']['GroupServer']" (ionChange)="SelectGroupServer($event)"
      multiple="true" [placeholder]="lang.text['QuickQRShare']['EmptyData']">
      <ion-select-option *ngFor="let gs of servers" [value]="gs">{{gs['name']}} </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select [label]="lang.text['QuickQRShare']['Group']" (ionChange)="SelectGroupChannel($event)" multiple="true"
      [placeholder]="lang.text['QuickQRShare']['EmptyData']">
      <ion-select-option *ngFor="let ginfo of groups" [value]="ginfo">{{ginfo['name'] + ' (' +
        ginfo['server']['name'] + ')'}}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-select [label]="lang.text['WebRTCDevManager']['Title']" (ionChange)="SelectRTCServer($event)" multiple="true"
      [placeholder]="lang.text['QuickQRShare']['EmptyData']">
      <ion-select-option *ngFor="let server of rtcServer" [value]="server">
        {{ server.urls[0] }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item-divider>
    <ion-label>{{lang.text['WebLinkGen']['AutoOpenChannel']}}</ion-label>
  </ion-item-divider>
  <ion-item button (click)="userInput.open_channel = !userInput.open_channel; information_changed()"
    [disabled]="!userInput.groups.length || userInput.open_prv_channel != ''">
    <ion-toggle class="ignore_toggles"
      [(ngModel)]="userInput.open_channel">{{lang.text['WebLinkGen']['OpenGroupChannel']}}</ion-toggle>
  </ion-item>
  <ion-item button [disabled]="userInput.open_channel" (click)="paste_user_id()">
    <ion-input [label]="lang.text['WebLinkGen']['OpenPrivateChannel']" class="ion-text-right"
      [(ngModel)]="userInput.open_prv_channel" [placeholder]="lang.text['WebLinkGen']['ClickToPaste']"
      (ionInput)="information_changed()"></ion-input>
  </ion-item>
</ion-content>