<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['ContentViewer']['Title']}}</ion-title>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table class="main_table" style="width: 100%; height: 100%; margin: 0;">
    <tr style="height: 0;">
      <td>
        <ion-list-header>
          <ion-label>{{FileInfo.filename}}</ion-label>
          <ion-button *ngIf="cant_dedicated" (click)="download_file()">{{lang.text['ContentViewer']['Download']}}</ion-button>
        </ion-list-header>
      </td>
    </tr>
    <tr>
      <td>
        <div class="full_screen" id="godot-viewer"></div>
      </td>
    </tr>
  </table>
</ion-content>