<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['LinkAccount']['Title']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>{{lang.text['LinkAccount']['use_almighty_button_to']}}</ion-label>
  </ion-item-divider>
  <img *ngIf="QRCodeSRC" [src]="QRCodeSRC" style="width: 100%; height: auto;" alt="QRCodeSRC">
  <ion-item-divider>
    <ion-label>{{lang.text['LinkAccount']['Recovery']}}</ion-label>
  </ion-item-divider>
  <ion-item (click)="removeOverrideDeviceId()" [disabled]="!isOverrided" button>
    <ion-label>{{lang.text['LinkAccount']['recovery_device_id']}}</ion-label>
  </ion-item>
</ion-content>