<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['PostViewer']['Title']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/community"></ion-back-button>
    </ion-buttons>
    <div *ngIf="global.ShowHint && HavePosts" style="position: relative;" slot="end">
      <div class="shortcut_hint shortcut_change_viewer" style="right: -4px">A</div>
    </div>
    <ion-icon *ngIf="HavePosts" class="relevance_change" style="padding-right: 4px;" slot="end"
      name="arrow-back-circle-outline" (click)="ChangeToAnother(-1)"></ion-icon>
    <ion-label *ngIf="HavePosts" slot="end">{{ CurrentIndex + ' / ' + nakama.posts.length}}</ion-label>
    <div *ngIf="global.ShowHint && HavePosts" style="position: relative;" slot="end">
      <div class="shortcut_hint shortcut_change_viewer">D</div>
    </div>
    <ion-icon *ngIf="HavePosts" class="relevance_change" style="padding-right: 16px; padding-left: 4px;" slot="end"
      name="arrow-forward-circle-outline" (click)="ChangeToAnother(1)"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="ScrollPost">
    <img *ngIf="PostInfo['mainImage'] && PostInfo['mainImage']['MainThumbnail']" style="width: 100%; height: auto;"
      [src]="PostInfo['mainImage']['MainThumbnail']" alt="MainImage" />
    <div id="PostContent" style="padding: 16px; height: 100%;"></div>
  </div>
  <ion-modal #QuickPostView class="transparent-modal">
    <ng-template>
      <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <div
          style="width: 400px; min-height: 455px; background-color: var(--chatroom-background); text-align: center; padding: 16px">
          <img *ngIf="QRCodeSRC" [src]="QRCodeSRC" style="width: 100%; height: auto; cursor: copy; margin-bottom: 8px;"
            (click)="global.WriteValueToClipboard('text/plain', ResultSharedAddress)" alt="QuickPostViewLink" />
          <ion-item button (click)="global.WriteValueToClipboard('text/plain', ResultSharedAddress)">
            <ion-label class="ion-text-center">{{ResultSharedAddress}}</ion-label>
          </ion-item>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <table *ngIf="isOwner && CurrentIndex >= 0" style="width: 100%; background-color: black;">
    <tr>
      <td>
        <ion-button expand="block" (click)="EditPost()">
          {{lang.text['AddPost']['EditTitle']}}
        </ion-button>
      </td>
      <td>
        <ion-button color="danger" expand="block" (click)="RemovePost()">
          {{lang.text['PostViewer']['RemovePost']}}
        </ion-button>
      </td>
    </tr>
  </table>
</ion-content>