*.import
import/*
*.blend1
*.translation
android/*
*.tmp
html/*
*.bak
result/*
# FileEdit 읽은파일 무시
addons/file-editor/lastopenedfiles.lastcfg
# Mono-specific ignores
.mono/
data_*/
mono_crash.*.json
# Text editor related
test_files/
.trash/
.trash.json
.text_editor_state.json
word_skip_list.txt
# NakamaClient ignores
*.swp
test_suite/addons
test_suite/addons/*
test_suite/.import/*
# System/tool-specific ignores
.directory
*~
# 파생결과물 무시
exports/*
