<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header>
  <ion-toolbar>
    <ion-title>빠른 QR공유</ion-title>
    <ion-buttons slot="start" (click)="go_back()">
      <ion-back-button defaultHref="portal/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group *ngIf="servers.length" value="colors" expand="inset"
    [value]="isExpanded" #accordionGroup (click)="isExpanded = true">
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>{{lang.text['AddGroup']['SelectServer']}}</ion-label>
        <ion-label class="ion-text-right">{{servers[index].name}}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item *ngFor="let server of servers; index as i" button (click)="select_server(i)">
          <ion-label>{{server.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item-divider>
    <ion-label>{{lang.text['Settings']['quickQRshare']}}</ion-label>
  </ion-item-divider>
  <textarea class="infobox" disabled [(ngModel)]="lines" style="height: 24vh; display: block;"></textarea>
  <div *ngIf="HideSender">
    <ion-item-divider>
      <ion-label>{{lang.text['QuickQRShare']['SelectData']}}</ion-label>
    </ion-item-divider>
    <ion-item>
      <ion-label>{{lang.text['QuickQRShare']['GroupServer']}}</ion-label>
      <ion-select [(ngModel)]="selected_group_server" (ionChange)="SelectGroupServer($event)" multiple="true"
        [placeholder]="lang.text['QuickQRShare']['EmptyData']">
        <ion-select-option *ngFor="let gs of servers" [value]="gs">{{gs['name']}} </ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>{{lang.text['QuickQRShare']['Group']}}</ion-label>
      <ion-select [(ngModel)]="selected_group" (ionChange)="SelectGroup($event)" multiple="true"
        [placeholder]="lang.text['QuickQRShare']['EmptyData']">
        <ion-select-option *ngFor="let ginfo of group_list" [value]="ginfo">{{ginfo['name'] + ' (' +
          ginfo['server_name'] + ')'}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item [disabled]="!ActKeyLength" button (click)="scanQRCode()">
      <ion-label class="ion-text-center">{{lang.text['QuickQRShare']['SendData']}}</ion-label>
    </ion-item>
  </div>
  <ion-item-divider>
    <ion-label>{{lang.text['QuickQRShare']['ReceiveData']}}</ion-label>
    <ion-button *ngIf="!ShowQRInfo" slot="end" (click)="ShowQRInfo = !ShowQRInfo" fill="clear" shape="round">
      {{lang.text['QuickQRShare']['ShowQR']}}
    </ion-button>
  </ion-item-divider>
  <img *ngIf="ShowQRInfo && QRCodeSRC" [src]="QRCodeSRC" style="width: 100%; height: auto;" alt="QRCodeSRC">
</ion-content>