<ion-header class="ion-no-border" [translucent]="true">
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['TTSExport']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item-divider>
    <ion-label>{{lang.text['TTSExport']['TTSContent']}}</ion-label>
  </ion-item-divider>
  <textarea class="infobox" [(ngModel)]="userInput"
    [placeholder]="userInput_placeholder || lang.text['TTSExport']['TTSPlaceholder']"></textarea>
  <ion-item button (click)="ReadThis()">
    <ion-label class="ion-text-center"> {{lang.text['TTSExport']['ReadThis']}}</ion-label>
  </ion-item>
</ion-content>