<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['OtherProfile']['Title']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="OtherUserCanvasDiv" style="position: absolute; width: 100%; height: 100%; display: flex;">
  </div>
  <div *ngIf="statusBar.groupServer[isOfficial][target] == 'online'"
    style="width: 100%; position: absolute; bottom: 0;">
    <table id="input_table" style="width: 100%; background-color: black;">
      <tr>
        <td>
          <ion-button [disabled]="lock_create_chat" (click)="create_chat()" expand="block">
            {{lang.text['OtherProfile']['privacy_chat']}}
          </ion-button>
        </td>
        <td *ngIf="(has_admin || nakama.PromotedGroup[isOfficial][target][group_info.id]) && info['state'] == 1">
          <ion-button (click)="DemoteUser()" color="warning" expand="block">
            {{lang.text['OtherProfile']['DemoteMember']}}
          </ion-button>
        </td>
        <td *ngIf="(has_admin || nakama.PromotedGroup[isOfficial][target][group_info.id]) && info['state'] == 2">
          <ion-button (click)="PromoteUser()" color="tertiary" expand="block">
            {{lang.text['OtherProfile']['PromoteMember']}}
          </ion-button>
        </td>
        <td *ngIf="(has_admin || nakama.PromotedGroup[isOfficial][target][group_info.id]) && info['state'] == 3">
          <ion-button (click)="notification_react(-5)" expand="block">
            {{lang.text['OtherProfile']['add_to_group']}}
          </ion-button>
        </td>
        <td *ngIf="(has_admin || nakama.PromotedGroup[isOfficial][target][group_info.id]) && info.state != 0">
          <ion-button (click)="kick_user_from_group()" color="danger" expand="block">
            {{lang.text['OtherProfile']['kick_from_group']}}
          </ion-button>
        </td>
      </tr>
    </table>
  </div>
</ion-content>