.main {
    margin: 8px;
    overflow: hidden;
}

p {
    margin: 8px 0px 0px 0px;
}

.inputbar {
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
}

ion-content {
    --offset-bottom: 44px;
    --padding-bottom: 44px;
}