<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{header_title}}</ion-title>
    <div style="margin: 8px 16px;" slot="end">{{lang.text['MinimalChat']['concurrent_users']}}:
      {{client.ConnectedNow[target]}}</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table id="main_table" style="width: 100%; height: 100%;">
    <tr style="height: 100%;">
      <td style="vertical-align: top;">
        <div id="minimal_chat_div" class="main" style="max-width: 100vw;">
          <div *ngIf="isCustomDedicated && (!isLocalAddress || isMobileApp)">
            <ion-item-divider>
              <ion-select [label]="lang.text['MinimalChat']['shareAddress']" *ngIf="isLocalAddress && isMobileApp"
                (ionChange)="SelectOtherAddress($event)" [placeholder]="lang.text['MinimalChat']['selectNetwork']">
                <ion-select-option *ngFor="let info of addresses;">{{info.key + ' (' + info.address + ')'}}
                </ion-select-option>
              </ion-select>
            </ion-item-divider>
            <img *ngIf="QRCodeSRC" [src]="QRCodeSRC" style="width: 100%; height: auto; cursor: copy;" alt="Loading">
          </div>
          <p *ngFor="let msg of client.userInput[target].logs">
            <font *ngIf="!msg.target" color="#{{msg.color}}">{{msg.text}}</font>
            <font *ngIf="msg.target" class="default_text">
              <font color="#{{msg.color}}"><b *ngIf="msg.target">{{msg.target}}:</b></font> {{' ' + msg.text}}
            </font>
          </p>
        </div>
      </td>
    </tr>
  </table>
</ion-content>

<ion-footer>
  <table id="input_table" style="width: 100%;">
    <tr>
      <td *ngIf="client.status[target] == 'idle'">
        <ion-button (click)="join_ranchat()" expand="block">
          {{lang.text['MinimalChat']['start_chat']}}
        </ion-button>
      </td>
      <td *ngIf="client.status[target] == 'linked' || client.status[target] == 'unlinked'">
        <ion-button (click)="join_ranchat()" expand="block" [disabled]="req_refreshed">
          {{lang.text['MinimalChat']['new_chat']}}
        </ion-button>
      </td>
      <td
        *ngIf="client.status[target] == 'unlinked' || client.status[target] == 'idle' || client.status[target] == 'custom'">
        <ion-button (click)="quit_chat()" expand="block" fill="clear">
          <ion-icon name="exit"></ion-icon>
        </ion-button>
      </td>
      <td *ngIf="client.status[target] == 'linked' || client.status[target] == 'custom'" style="width: 100%;">
        <ion-input #minimalchat_input id="minimalchat_input" type="text"
          [placeholder]="lang.text['MinimalChat']['input_placeholder']" (ionFocus)="focus_on_input(120)"
          (keyup.enter)="send()" [(ngModel)]="client.userInput[target].text">
        </ion-input>
      </td>
      <td *ngIf="client.status[target] == 'linked' || client.status[target] == 'custom'">
        <ion-button (click)="send()" expand="block" fill="clear">
          <ion-icon name="send"></ion-icon>
        </ion-button>
      </td>
    </tr>
  </table>
</ion-footer>