.main {
    width: 100%;
    padding: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

p {
    margin: 8px 0px 0px 0px;
}

.inputbar {
    overflow: hidden;
    width: 100%;
}