<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>{{header_title}}</ion-title>
    <div style="margin: 8px 16px;" slot="end">{{lang.text['MinimalChat']['concurrent_users']}}:
      {{client.ConnectedNow[target]}}</div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table id="main_table" style="width: 100%; height: 100%;">
    <tr style="height: 100%;">
      <td style="vertical-align: top;">
        <div id="main_div" class="main">
          <div *ngIf="isCustomDedicated && (!isLocalAddress || isMobileApp)">
            <ion-item-divider>
              <ion-label>{{lang.text['MinimalChat']['shareAddress']}}</ion-label>
              <ion-select style="display: contents; text-align: right;" *ngIf="isLocalAddress && isMobileApp"
                (ionChange)="SelectOtherAddress($event)" [placeholder]="lang.text['MinimalChat']['selectNetwork']">
                <ion-select-option *ngFor="let info of addresses;">{{info.key + ' (' + info.address + ')'}}
                </ion-select-option>
              </ion-select>
            </ion-item-divider>
            <img *ngIf="QRCodeSRC" [src]="QRCodeSRC" style="width: 100%; height: auto;" alt="Loading">
          </div>
          <p *ngFor="let msg of client.userInput[target].logs">
            <font *ngIf="!msg.target" color="#{{msg.color}}">{{msg.text}}</font>
            <font *ngIf="msg.target" color="#ddd">
              <font color="#{{msg.color}}"><b *ngIf="msg.target">{{msg.target}}:</b></font> {{' ' + msg.text}}
            </font>
          </p>
          <div id="content"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div style="width: 100%;">
          <table id="input_table" style="width: 100%; background-color: black;">
            <tr>
              <td *ngIf="client.status[target] == 'idle'">
                <ion-button (click)="join_ranchat()" expand="block">
                  {{lang.text['MinimalChat']['start_chat']}}
                </ion-button>
              </td>
              <td *ngIf="client.status[target] == 'linked' || client.status[target] == 'unlinked'">
                <ion-button (click)="join_ranchat()" expand="block" [disabled]="req_refreshed">
                  {{lang.text['MinimalChat']['new_chat']}}
                </ion-button>
              </td>
              <td
                *ngIf="client.status[target] == 'unlinked' || client.status[target] == 'idle' || client.status[target] == 'custom'">
                <ion-button (click)="quit_chat()" expand="block">
                  {{lang.text['MinimalChat']['exit_chat']}}
                </ion-button>
              </td>
              <td *ngIf="client.status[target] == 'linked' || client.status[target] == 'custom'" style="width: 100%;">
                <ion-input type="text" [placeholder]="lang.text['MinimalChat']['input_placeholder']"
                  (ionFocus)="focus_on_input(120)" (keyup.enter)="send()" [(ngModel)]="client.userInput[target].text">
                </ion-input>
              </td>
              <td *ngIf="client.status[target] == 'linked' || client.status[target] == 'custom'">
                <ion-button (click)="send()" expand="block">
                  {{lang.text['MinimalChat']['send']}}
                </ion-button>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</ion-content>