<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{lang.text['AddPost']['Title']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/community"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-accordion-group *ngIf="servers.length" [disabled]="isSaveClicked" value="colors" expand="inset"
    [value]="isExpanded" #accordionGroup (click)="isExpanded = true">
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>{{lang.text['AddGroup']['SelectServer']}}</ion-label>
        <ion-label class="ion-text-right">{{servers[index].name}}</ion-label>
        <ion-icon class="ion-accordion-toggle-icon hide_accordion_icon"></ion-icon>
      </ion-item>
      <div slot="content">
        <ion-item *ngFor="let server of servers; index as i" button (click)="select_server(i)">
          <ion-label>{{server.name}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>