<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title *ngIf="isModify">{{lang.text['AddPost']['EditTitle']}}</ion-title>
    <ion-title *ngIf="!isModify">{{lang.text['AddPost']['Title']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/community"></ion-back-button>
    </ion-buttons>
    <ion-icon class="top_icon" slot="end" name="play-circle-outline" (click)="showPreview()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="p5Drop_addPost" style="position: absolute; width: 100%; height: 100%; display: flex; pointer-events: none;">
  </div>
  <ion-accordion-group *ngIf="servers.length" [disabled]="isSaveClicked" value="colors" expand="inset"
    [value]="isExpanded" #accordionGroup (click)="isExpanded = true">
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label style="display: contents">{{lang.text['AddGroup']['SelectServer']}}</ion-label>
        <ion-label class="ion-text-right">{{servers[index].name}}</ion-label>
        <ion-icon class="ion-accordion-toggle-icon hide_accordion_icon"></ion-icon>
      </ion-item>
      <div slot="content">
        <ion-item *ngFor="let server of servers; index as i" button (click)="select_server(i, true)">
          <ion-label>{{server.name}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item button (click)="go_to_profile()">
    <div class="additional_form new_bg_form"
      [style]="'background-image: linear-gradient(to right, #0000, #' + userInput.UserColor + '44)'">
    </div>
    <ion-label style="display: contents">{{lang.text['AddPost']['Creator']}}</ion-label>
    <ion-label class="ion-text-end">{{userInput.creator_name || lang.text['Profile']['noname_user']}}</ion-label>
  </ion-item>
  <ion-item-divider>
    <ion-label>{{lang.text['AddPost']['AddNewPost']}}</ion-label>
  </ion-item-divider>
  <div *ngIf="MainPostImage" style="width: 100%; text-align: center; text-align: -webkit-center; padding: 8px;">
    <ion-item button>
      <ion-toggle style="pointer-events: none;"
        [(ngModel)]="userInput.isNSFW">{{lang.text['AddPost']['NSFW']}}</ion-toggle>
    </ion-item>
    <div class="thumbnail_image" style="width: 400px; padding-top: 8px;">
      <img [style]="userInput['isNSFW'] ? 'filter: blur(16px);' : ''" [src]="MainPostImage" alt="MainPostImage"/>
    </div>
  </div>
  <ion-item button>
    <ion-input id="add_post_title" [disabled]="isSaveClicked" [placeholder]="lang.text['AddPost']['TitlePlaceholder']"
      [(ngModel)]="userInput.title"></ion-input>
  </ion-item>
  <textarea id="add_post_content" class="infobox" style="height: 50%;" [disabled]="isSaveClicked"
    [placeholder]="lang.text['AddPost']['ContentPlaceHolder']" [(ngModel)]="userInput.content"></textarea>
  <input hidden type="file" id="add_post_input" accept="*" multiple (change)="inputFileSelected($event)">
  <input hidden type="file" id="PostMainImage_sel" accept="image/*" (change)="ChangeMainPostImage($event)">
  <div style="width: 100%; text-align: center; padding-bottom: 16px;">
    <div *ngFor="let button of extended_buttons" style="display: inline-block;">
      <div class="ext_button ext_button_override" [style]="'cursor: ' + (button['cursor'] || 'pointer') + ';'"
        (click)="button['act']()" (contextmenu)="button['context'] ? button['context']() : null"
        [hidden]="button.isHide">
        <ion-icon *ngIf="button['icon']" slot="icon-only" [name]="button['icon'] || 'close-circle'"
          style="width: 36px; height: 36px;">
        </ion-icon>
        <img *ngIf="button['icon_img']" class="ext_icon_img" [src]="'assets/icon/' + button['icon_img']"
          [alt]="button['title']"/>
        <div>{{button['name']}}</div>
      </div>
    </div>
  </div>
  <ion-item button *ngFor="let attach of userInput.attachments; let i = index" [disabled]="isSaveClicked"
    (click)="open_viewer(attach, i)" (contextmenu)="PostAttachContextMenu(i)">
    <ion-label>{{'['+ i + '] ' + attach.filename}}</ion-label>
    <div class="additional_form bg_img_form">
      <img class="profile_img" [src]="attach.thumbnail"/>
    </div>
  </ion-item>
  <ion-item button [disabled]="isSaveClicked" (click)="postData()">
    <ion-label class="ion-text-center">{{lang.text['AddPost']['Post']}}</ion-label>
  </ion-item>
</ion-content>