<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['UseAsServer']['Title']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>{{lang.text['UseAsServer']['UserNotice']}}</ion-label>
  </ion-item-divider>
  <textarea class="infobox" disabled [(ngModel)]="info" style="height: 250px;"></textarea>
  <ion-list-header>
    <ion-label color="medium">{{lang.text['UseAsServer']['ThisDeviceAddress']}}</ion-label>
    <ion-button (click)="server.check_addresses()">{{lang.text['UseAsServer']['RefreshAddress']}}</ion-button>
  </ion-list-header>
  <textarea class="infobox" disabled [(ngModel)]="addresses" style="height: 80px;"></textarea>
  <ion-item-divider>
    <ion-label>{{lang.text['UseAsServer']['DedicatedServer']}}</ion-label>
  </ion-item-divider>
  <ion-item button (click)="start_minimalserver()" [disabled]="block.groupchat">
    <div class="additional_form status_bar_single"
      [style]="'background-color: ' + statusBar.colors[statusBar.dedicated.official['groupchat']]"></div>
    <ion-label class="form_margin">{{lang.text['UseAsServer']['CustomGroupChat']}}</ion-label>
  </ion-item>
</ion-content>