<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['GroupServer']['ServerDetail']}}</ion-title>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>{{lang.text['ServerDetail']['copy_scan_below']}}</ion-label>
  </ion-item-divider>
  <img *ngIf="QRCodeSRC" [src]="QRCodeSRC" style="width: 100%; height: auto;" alt="Loading"
    (click)="copy_startup_address()">
  <ion-item-divider>
    <ion-label>서버 설정</ion-label>
    <table slot="end" style="margin-right: 8px;">
      <tr>
        <td (click)="change_server_info(-1)">
          <ion-icon slot="start" class="icon_style" name="arrow-back-circle-outline"></ion-icon>
        </td>
        <td>{{index + 1}}</td>
        <td>/</td>
        <td>{{Alternative[dedicated_info.target].length}}</td>
        <td (click)="change_server_info(1)">
          <ion-icon slot="start" class="icon_style" name="arrow-forward-circle-outline"></ion-icon>
        </td>
      </tr>
    </table>
  </ion-item-divider>
  <ion-item button>
    <ion-input [label]="lang.text['GroupServer']['DisplayName']" class="ion-text-right"
      [(ngModel)]="dedicated_info.name" [placeholder]="lang.text['GroupServer']['DisplayName_placeholder']"></ion-input>
  </ion-item>
  <ion-item button [disabled]="isTargetAlreadyExist">
    <ion-input [label]="lang.text['GroupServer']['DivisionName']" class="ion-text-right"
      [(ngModel)]="dedicated_info.target"
      [placeholder]="dedicated_info.name || lang.text['GroupServer']['DivisionName_placeholder']"></ion-input>
  </ion-item>
  <ion-item button>
    <ion-input [label]="lang.text['GroupServer']['Address']" class="ion-text-right" [(ngModel)]="dedicated_info.address"
      placeholder="192.168.0.1"></ion-input>
  </ion-item>
  <ion-item button>
    <ion-input [label]="lang.text['GroupServer']['Key']" [(ngModel)]="dedicated_info.key" class="ion-text-right"
      placeholder="defaultkey">
    </ion-input>
  </ion-item>
  <ion-item button>
    <ion-input [label]="lang.text['GroupServer']['Port']" [(ngModel)]="dedicated_info.port" class="ion-text-right"
      type="number" placeholder="7350">
    </ion-input>
  </ion-item>
  <ion-item button (click)="dedicated_info.useSSL = !dedicated_info.useSSL">
    <ion-toggle [(ngModel)]="dedicated_info.useSSL"
      style="pointer-events: none;">{{lang.text['GroupServer']['isSSL']}}</ion-toggle>
  </ion-item>
  <ion-item button (click)="apply_changed_info()">
    <ion-label class="ion-text-center">{{lang.text['ServerDetail']['ApplyChangeServerInfo']}}</ion-label>
  </ion-item>
</ion-content>