<ion-header>
  <ion-toolbar>
    <ion-title>채팅방 제목</ion-title>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref="subscribes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table id="main_table" style="width: 100%; height: 100%;">
    <tr style="height: 100%;">
      <td style="vertical-align: top;">
        <div class="full_screen">
          채팅방 테스트
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <table id="input_table" style="width: 100%; background-color: black;">
            <tr>
              <!-- <td>
                <ion-button expand="block" [disabled]="true">
                  첨부
                </ion-button>
              </td> -->
              <td style="width: 100%;">
                <ion-input type="text" placeholder="메시지 입력..." (keyup.enter)="send()" [(ngModel)]="userInput.text">
                </ion-input>
              </td>
              <td>
                <ion-button (click)="send()" expand="block">
                  보내기
                </ion-button>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</ion-content>