.title_override {
    cursor: initial;
    padding-right: initial;
    margin-right: -8px;
}

.message_form {
    padding-bottom: 4px;
}

.sender_form {
    background-color: var(--chatroom-background-transparent);
    padding: 0px 8px;
    width: fit-content;
}

.message_span_form {
    margin-left: 8px;
}

.message_span_form_me {
    margin-right: 4px;
}

.my_message_right {
    text-align: end;
}

.my_sending_msg {
    margin-bottom: 0;
}

.dateLine {
    text-align: center;
    font-size: 16px;
    padding-top: 8px;
}

.dateText {
    background-color: var(--chatroom-background-transparent);
    color: var(--default-text-color-direction);
    padding: 0px 16px;
}

// 사용자 말풍선
.msg_balloon {
    width: fit-content;
    border: 16px;
    padding: 5px 12px 8px 12px;
}

.msg_inside_balloon {
    text-align: start;
    min-height: 16px;
}

.time_form {
    font-size: 12px;
    color: var(--chatroom-time-text);
}

.file_message_form {
    display: flex;
    flex-direction: column;
}

.my_file_message_form {
    text-align: right;
    text-align: -webkit-right;
}

.href_thumbnail {
    padding-left: 56px;
    padding-bottom: 4px;
}

.href_thumbnail_self {
    padding-right: 56px;
    padding-bottom: 8px;
}

.cursor_pointer {
    cursor: pointer;
}

.file_name_form {
    margin-top: 4px;
    width: fit-content;
    height: fit-content;
}

.file_thumbnail {
    max-width: 192px;
    max-height: 192px;
    width: auto;
    height: auto;
    display: block;
}

.file_info {
    margin: 0px 4px;
    text-align: start;
}

.file_text_thumbnail {
    margin-top: 2px;
    display: grid;
}

.quickShare_form {
    max-width: 156px;
    width: fit-content;
    height: fit-content;
    padding: 8px 12px;
    margin: 4px 0px 0px 0px;
    text-align: center;
    vertical-align: middle;
    word-break: keep-all;
    background-color: var(--chatroom-system-bgcolor);
}

.qoute_text {
    text-align: initial;
    margin: 4px 0px 0px 0px;
}

.msg_parent {
    position: relative;
}

.msg_bg_form {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.msg_bg_col {
    width: 100%;
    height: 100%;
}

.qoute_background {
    background-color: rgba(var(--ion-color-primary-rgb), .5);
}

.qouteImage {
    width: 100%;
    object-fit: cover;
    display: block;
}

.qouteImageHeight {
    max-height: 32px;
    display: block;
}

.href_image_margin {
    max-height: 40px;
    object-fit: cover;
    border-radius: 12px;
}

.qouteDiv {
    padding: 8px 12px;
    max-width: 95vw;
    color: var(--default-text-color-direction);
    font-size: 14px;
}

.qouteOnChatBalloon {
    max-width: 65vw;
}

.qouteBalloonBottom {
    padding-top: 0px;
}

.message_content_form {
    display: inline-flex;
    margin: 4px 0px 0px 0px;
    place-self: flex-end;
}

.edited_form {
    color: #888;
    font-size: 12px;
    margin: 0px 8px;
    align-self: flex-end;
    padding-bottom: 2px;
}

.avatar_form {
    width: 56px;
    vertical-align: top;
    padding: 12px 8px 0px 0px;
    max-width: 56px;
}

.my_avatar_form {
    padding: 12px 0px 0px 8px;
}

.avatar_image {
    width: 48px;
    height: 48px;
    border-radius: 64px;
    object-fit: cover;
}

// 발송하였으나 재수신되지 않은, 발신중으로 판단되는 메시지들을 위한 클래스
.comp_local_content {
    color: #888;
}

.text_seperator {
    background-color: white;
    margin-top: 2px;
    position: relative;
    width: 100%;
    height: 2px;
}

.file_button {
    width: 160px;
    height: 112px;
    // 테스트용 배경색
    background-color: grey;
    margin-top: 4px;
}

.bottom_thumbnail {
    width: 100%;
    max-width: 100vw;
    padding: 4px 0px;
    max-height: 96px;
    padding: 8px;
}

.image_thumbnail {
    width: auto;
    max-height: 96px;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;
    padding: 8px;
}

.thumbnails {
    width: -webkit-fill-available;
    height: fit-content;
    position: relative;
    transform: translateY(-100%);
    background: var(--chatroom-last-msg-viewer-bg);
    padding: 8px;
    margin: 0px 8px;
    bottom: 4px;
}

.thumbnail_parts {
    max-height: 96px;
    overflow-y: scroll;
    max-width: 100vw;
    padding: 8px;
    word-break: break-all;
}

.notice_form {
    text-align: center;
    margin: 12px;
}

.notice {
    font-size: 12px;
    display: inline;
    background: var(--chatroom-system-bgcolor);
    padding: 4px 8px;
    color: var(--default-text-color-direction);
}

.read_last_here {
    padding: 4px 8px;
    width: fit-content;
    text-align: center;
    font-size: 12px;
    background: var(--chatroom-system-bgcolor);
    margin: 4px 0px;
}

.text_span {
    white-space: normal;
}

.ext_icon_img {
    max-width: 36px;
    max-height: 36px;
}

.TextAreaInput {
    width: 100%;
    height: 36px;
    max-height: 156px;
    resize: none;
    padding: 6px;
    margin-top: 5px;
    border: 0;
    background-color: var(--chatroom-input-background);
}

// 이미지 바깥이 둥글게 짤리게 하기 위해 구성됨
.imageForm {
    overflow: hidden;
    position: relative;
}

.borderRadiusDefault {
    border-radius: 8px;
}

.borderRadiusBig {
    border-radius: 16px;
}

ion-button {
    --padding-start: 12px;
    --padding-end: 12px;
}