.main {
    width: 100%;
    padding: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
}

// 하단 확장메뉴
.expanded {
    height: 240px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    text-align: center;
}

// 확장메뉴의 각 버튼들
.ext_button {
    display: inline-block;
    width: 96px;
    height: 112px;
    margin: 16px 8px 0px 8px;
    text-align: center;
}

.ext_button_icon {
    width: 72px;
    height: 72px;
}

.file_button {
    width: 64px;
    height: 64px;
    overflow: hidden;
    // 테스트용 배경색
    background-color: grey;
    margin-top: 4px;
}

.notice_form {
    text-align: center;
    margin: 12px;
}

.notice {
    font-size: 12px;
    display: inline;
    background: #444;
    border-radius: 8px;
    padding: 4px 8px;
}