<ion-header>
  <ion-toolbar>
    <ion-title>채팅방 제목</ion-title>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref="subscribes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table id="main_table" style="width: 100%; height: 100%;">
    <tr style="height: 100%;">
      <td style="vertical-align: top;">
        <div class="full_screen main">
          <ion-item button (click)="pull_msg_from_server()">
            <ion-label>이전 기록 불러오는 임시 버튼</ion-label>
          </ion-item>
          <p *ngFor="let msg of messages">
            {{msg.content['msg']}}
          </p>
          <div id="content"></div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <table id="input_table" style="width: 100%; background-color: black;">
            <tr>
              <!-- <td>
                <ion-button expand="block" [disabled]="true">
                  첨부
                </ion-button>
              </td> -->
              <td style="width: 100%;">
                <ion-input type="text" placeholder="메시지 입력..." (keyup.enter)="send()" [(ngModel)]="userInput.text">
                </ion-input>
              </td>
              <td>
                <ion-button (click)="send()" expand="block"
                  [disabled]="!nakama.servers[info['info']['isOfficial']][info['info']['target']].socket">
                  보내기
                </ion-button>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</ion-content>