<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>
      {{info['info'] ? (info['info']['name'] ||
      nakama.usernameOverride[info['info']['isOfficial']][info['info']['target']][info['info']['id']]
      || info['info']['display_name'] ||
      lang.text['ChatRoom']['noname_chatroom']) : (info['title'] ||
      lang.text['ChatRoom']['noname_chatroom'])}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/subscribes"></ion-back-button>
    </ion-buttons>
    <ion-icon *ngIf="info['local'] && !info['volatile']" slot="start" name="file-tray-full-outline"
      class="top_icon title_override"></ion-icon>
    <ion-icon *ngIf="info['volatile']" slot="start" name="flame-outline" class="top_icon title_override"></ion-icon>
    <ion-icon *ngIf="!info['HideAutoThumbnail']" class="top_icon" style="padding-right: 68px;" slot="end"
      name="eye-outline" (click)="toggle_thumbnail()"></ion-icon>
    <ion-icon *ngIf="info['HideAutoThumbnail']" class="top_icon" style="padding-right: 68px;" slot="end"
      name="eye-off-outline" (click)="toggle_thumbnail()"></ion-icon>
    <div class="header_online_circle" [style]="'background-color: ' + statusBar.colors[info['status'] || 'offline']">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
  <div id="p5Drop_chatroom"
    style="position: absolute; width: 100%; height: 100%; display: flex; pointer-events: none; z-index: 500;">
  </div>
  <table id="main_table"
    style="width: 100%; height: 100%; background-color: var(--chatroom-background); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <tr style="height: 100%;">
      <td style="vertical-align: top;">
        <div id="chatroom_div"
          style="max-width: 100vw; width: 100%; height: 100%; padding: 8px; overflow-x: hidden; overflow-y: auto; scroll-behavior: smooth;">
          <div id="chatroom_content_div">
            <div style="position: relative;">
              <div *ngIf="global.ShowHint && !CheckIfFocusOnInput" class="shortcut_hint">`</div>
              <ion-item [disabled]="(next_cursor === undefined && !ViewMsgIndex) || !pullable" button
                (click)="pull_msg_history()">
                <ion-label>{{lang.text['ChatRoom']['fetch_previous_chat']}}</ion-label>
              </ion-item>
            </div>
            <div *ngFor="let msg of ViewableMessage; let i = index" [id]="msg.message_id"
              (contextmenu)="ChatBalloonContextMenu(msg)" (mousedown)="ChatBalloonMouseDown($event, msg)"
              (touchstart)="ChatBalloonOnTouchStart($event, msg)" class="msg_parent">
              <div class="msg_bg_form">
                <div [id]="msg.message_id + '_bg'" class="msg_bg_col borderRadiusBig"></div>
              </div>
              <!-- 상대방이 보낸 메시지 -->
              <div *ngIf="!msg['is_me'] && !msg.content['noti']" class="message_form">
                <!-- 날짜 표시 -->
                <div *ngIf="msg['showInfo'] && msg['showInfo']['date']" class="dateLine" (click)="SetOtherAct()">
                  <span class="dateText borderRadiusBig"> {{msg['displayDate']}} </span>
                </div>
                <table>
                  <tr>
                    <td class="avatar_form">
                      <div *ngIf="msg['showInfo'] && msg['showInfo']['sender']" class="avatar_image cursor_pointer"
                        (click)="user_detail(msg)">
                        <img class="avatar_image cursor_pointer"
                          [src]="nakama.users[isOfficial][target][msg.sender_id].img || 'assets/data/avatar.svg'"
                          alt="img"
                          [style]="nakama.users[isOfficial][target][msg.sender_id]['online'] ? 'filter: grayscale(0) contrast(1);' : 'filter: grayscale(.9) contrast(1.4);'" />
                      </div>
                    </td>
                    <td>
                      <!-- 이름 표시 -->
                      <div *ngIf="msg['showInfo'] && msg['showInfo']['sender']">
                        <div class="sender_form borderRadiusBig">
                          <span (click)="user_detail(msg)" class="cursor_pointer">
                            <b>
                              <span
                                [style]="'color: ' + (nakama.users[isOfficial][target][msg.sender_id]['online'] ? msg.color : 'var(--offline-user-color)')">
                                {{nakama.usernameOverride[isOfficial][target][msg.sender_id] || msg.user_display_name ||
                                lang.text['Profile']['noname_user']}}</span>
                            </b>
                          </span>
                          <!-- 시간 표시 -->
                          <span class="time_form message_span_form" (click)="SetOtherAct()">{{msg['msgTime']}}</span>
                        </div>
                      </div>
                      <div *ngIf="msg.content['qoute']"
                        class="cursor_pointer qoute_text qoute_background borderRadiusBig imageForm"
                        (click)="FindQoute(msg.content['qoute'].id, msg.content['qoute'].timestamp)">
                        <div class="qouteDiv qouteOnChatBalloon">{{lang.text['ChatRoom']['qouteMsg'] + ': ' +
                          (msg.content['qoute']['username'] || msg.content['qoute']['display_name'])}}</div>
                        <div *ngIf="msg.content['qoute'].url" class="imageForm borderRadiusDefault qouteImageHeight">
                          <img [src]="msg.content['qoute'].url" class="qouteImage qouteImageHeight"
                            [style]="info['HideAutoThumbnail'] ? 'filter: blur(6px);' : ''" alt="" />
                        </div>
                        <div *ngIf="msg.content['qoute'].text" class="qouteDiv qouteOnChatBalloon qouteBalloonBottom">
                          {{msg.content['qoute'].text}}</div>
                      </div>
                      <div *ngIf="msg.content['filename']" class="file_message_form">
                        <div *ngIf="!msg.content['thumbnail']"
                          class="cursor_pointer file_button imageForm borderRadiusDefault" (click)="file_detail(msg)"
                          [style]="info['HideAutoThumbnail'] ? 'filter: blur(6px);' : ''">
                          <div
                            *ngIf="global.ShowHint && !CheckIfFocusOnInput && ((ChatLogs.scrollTop == 0 && CheckIfHasScroll && msg == Attach.first) || ((ChatLogs.scrollTop != 0 || !CheckIfHasScroll) && msg == Attach.last))"
                            class="shortcut_hint">Q</div>
                          <p class="file_info"> {{msg.content['filename']}} </p>
                          <div *ngIf="msg.content['text']" class="text_seperator"></div>
                          <span *ngFor="let line of msg.content['text']" class="file_info file_text_thumbnail"> {{line}}
                          </span>
                        </div>
                        <div *ngIf="msg.content['thumbnail']" class="file_name_form imageForm borderRadiusDefault"
                          (click)="file_detail(msg)">
                          <div
                            *ngIf="global.ShowHint && !CheckIfFocusOnInput && ((ChatLogs.scrollTop == 0 && CheckIfHasScroll && msg == Attach.first) || ((ChatLogs.scrollTop != 0 || !CheckIfHasScroll) && msg == Attach.last))"
                            class="shortcut_hint">Q</div>
                          <img class="file_thumbnail imageForm cursor_pointer"
                            [style]="info['HideAutoThumbnail'] ? 'filter: blur(6px);' : ''"
                            [src]="msg.content['thumbnail']" [alt]="msg.content['filename']" />
                        </div>
                        <div *ngIf="msg.content['transfer_index']" style="align-self: flex-end; margin-left: 4px;">
                          {{msg.content['transfer_index']['index']}}</div>
                      </div>
                      <div *ngIf="msg.content['msg']" class="message_content_form">
                        <div class="msg_balloon borderRadiusBig qouteOnChatBalloon"
                          [style]="(msg.content['msg'][0] && msg.content['msg'][0][0].size) ? 'padding: 0; margin: 0' : ('background-color: ' + (msg.color_bg || (msg.color + 'bb')))">
                          <div *ngFor="let line of msg.content['msg']; let i = index" class="msg_inside_balloon">
                            <span>
                              <span *ngFor="let part of line">
                                <span *ngIf="!part.href" class="text_span"
                                  [style]="'font-size: ' + (part.size || 16) + 'px'" (click)="SetOtherAct()">
                                  {{part.text}} </span>
                                <a *ngIf="part.href" [href]="part.text" target="_system" onclick="return false;"
                                  (click)="open_url_link(part.text)">{{part.text}}</a>
                              </span>
                            </span>
                          </div>
                        </div>
                        <div *ngIf="msg.content['edited']" class="edited_form">
                          {{'(' + lang.text['ChatRoom']['MsgEdited'] + ')'}}</div>
                      </div>
                    </td>
                  </tr>
                </table>
                <!-- 하이퍼링크 정보 일부 발췌하여 보여주기 -->
                <div *ngIf="msg.content['hasLink']" class="file_message_form href_thumbnail">
                  <div class="quickShare_form borderRadiusBig qouteDiv cursor_pointer qouteOnChatBalloon"
                    (click)="open_url_link(msg.content['hasLink'].url)">
                    {{msg.content['hasLink'].title}}
                    <img *ngIf="msg.content['hasLink'].imageUrl" [src]="msg.content['hasLink'].imageUrl"
                      class="qouteImage qouteImageHeight href_image_margin"
                      [style]="info['HideAutoThumbnail'] ? 'filter: blur(6px);' : ''"
                      [alt]="msg.content['hasLink'].imageAlt" />
                  </div>
                </div>
                <div style="width: 100%; text-align: -webkit-center;">
                  <div *ngIf="msg['isLastRead']" class="read_last_here borderRadiusBig">
                    {{lang.text['ChatRoom']['YouReadHereLast']}}</div>
                </div>
              </div>
              <!-- 내가 보낸 메시지 -->
              <div *ngIf="msg['is_me'] && !msg.content['noti']" class="my_message_right">
                <!-- 날짜 표시 -->
                <div *ngIf="msg['showInfo'] && msg['showInfo']['date']" class="dateLine" (click)="SetOtherAct()">
                  <span class="dateText borderRadiusBig"> {{msg['displayDate']}} </span>
                </div>
                <table style="display: inline-flex;">
                  <tr>
                    <td>
                      <!-- 이름 표시 -->
                      <div class="my_file_message_form" *ngIf="msg['showInfo'] && msg['showInfo']['sender']">
                        <div class="sender_form borderRadiusBig">
                          <!-- 시간 표시 -->
                          <span class="time_form message_span_form_me" (click)="SetOtherAct()">{{msg['msgTime']}}</span>
                          <span (click)="user_detail(msg)" class="cursor_pointer">
                            <b>
                              <span
                                [style]="'color: ' + (nakama.users.self['online'] ? msg.color : 'var(--offline-user-color)')">
                                {{msg.user_display_name || lang.text['Profile']['noname_user']}}</span>
                            </b>
                          </span>
                        </div>
                      </div>
                      <input hidden type="file" [id]="voidDrawContextId" accept="image/*"
                        (change)="SelectVoidDrawBackgroundImage($event)">
                      <div *ngIf="msg.content['qoute']"
                        class="cursor_pointer qoute_text qoute_background borderRadiusBig imageForm"
                        (click)="FindQoute(msg.content['qoute'].id, msg.content['qoute'].timestamp)">
                        <div class="qouteDiv qouteOnChatBalloon">{{lang.text['ChatRoom']['qouteMsg'] + ': ' +
                          (msg.content['qoute']['username'] || msg.content['qoute']['display_name'])}}</div>
                        <div *ngIf="msg.content['qoute'].url" class="imageForm borderRadiusDefault qouteImageHeight">
                          <img [src]="msg.content['qoute'].url" class="qouteImage qouteImageHeight"
                            [style]="info['HideAutoThumbnail'] ? 'filter: blur(6px);' : ''" alt="" />
                        </div>
                        <div *ngIf="msg.content['qoute'].text" class="qouteDiv qouteOnChatBalloon qouteBalloonBottom">
                          {{msg.content['qoute'].text}}</div>
                      </div>
                      <div *ngIf="msg.content['filename']" class="my_file_message_form">
                        <div *ngIf="!msg.content['thumbnail']"
                          class="cursor_pointer file_button imageForm borderRadiusDefault" (click)="file_detail(msg)"
                          [style]="info['HideAutoThumbnail'] ? 'filter: blur(6px);' : ''">
                          <div
                            *ngIf="global.ShowHint && !CheckIfFocusOnInput && ((ChatLogs.scrollTop == 0 && CheckIfHasScroll && msg == Attach.first) || ((ChatLogs.scrollTop != 0 || !CheckIfHasScroll) && msg == Attach.last))"
                            class="shortcut_hint">Q</div>
                          <p class="file_info"> {{msg.content['filename']}} </p>
                          <div *ngIf="msg.content['text']" class="text_seperator"></div>
                          <span *ngFor="let line of msg.content['text']" class="file_info file_text_thumbnail"> {{line}}
                          </span>
                        </div>
                        <div *ngIf="msg.content['thumbnail']" class="file_name_form imageForm borderRadiusDefault"
                          (click)="file_detail(msg)">
                          <div
                            *ngIf="global.ShowHint && !CheckIfFocusOnInput && ((ChatLogs.scrollTop == 0 && CheckIfHasScroll && msg == Attach.first) || ((ChatLogs.scrollTop != 0 || !CheckIfHasScroll) && msg == Attach.last))"
                            class="shortcut_hint">Q</div>
                          <img class="file_thumbnail imageForm cursor_pointer"
                            [style]="info['HideAutoThumbnail'] ? 'filter: blur(6px);' : ''"
                            [src]="msg.content['thumbnail']" [alt]="msg.content['filename']" />
                        </div>
                        <div *ngIf="msg.content['transfer_index']" style="align-self: flex-end; margin-left: 4px;">
                          {{msg.content['transfer_index']['index']}}</div>
                      </div>
                      <div *ngIf="msg.content['msg']" class="message_content_form my_file_message_form">
                        <div *ngIf="msg.content['edited']" class="edited_form">
                          {{'(' + lang.text['ChatRoom']['MsgEdited'] + ')'}}</div>
                        <div class="msg_balloon borderRadiusBig qouteOnChatBalloon"
                          [style]="(msg.content['msg'][0] && msg.content['msg'][0][0].size) ? 'padding: 0; margin: 0' : ('background-color: ' + (msg.color_bg || (msg.color + 'bb')))">
                          <div *ngFor="let line of msg.content['msg']" class="msg_inside_balloon">
                            <span>
                              <span *ngFor="let part of line">
                                <span *ngIf="!part.href" class="text_span"
                                  [style]="'font-size: ' + (part.size || 16) + 'px'" (click)="SetOtherAct()">
                                  {{part.text}} </span>
                                <a *ngIf="part.href" [href]="part.text" target="_system" onclick="return false;"
                                  (click)="open_url_link(part.text)">{{part.text}}</a>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="avatar_form my_avatar_form">
                      <div *ngIf="msg['showInfo'] && msg['showInfo']['sender']" class="avatar_image cursor_pointer"
                        (click)="user_detail(msg)">
                        <img class="avatar_image cursor_pointer"
                          [src]="nakama.users.self['img'] || 'assets/data/avatar.svg'" alt="my_img"
                          [style]="nakama.users.self['online'] ? 'filter: grayscale(0) contrast(1);' : 'filter: grayscale(.9) contrast(1.4);'" />
                      </div>
                    </td>
                  </tr>
                </table>
                <!-- 하이퍼링크 정보 일부 발췌하여 보여주기 -->
                <div *ngIf="msg.content['hasLink']" class="my_file_message_form href_thumbnail_self">
                  <div class="quickShare_form borderRadiusBig qouteDiv cursor_pointer qouteOnChatBalloon"
                    (click)="open_url_link(msg.content['hasLink'].url)">
                    {{msg.content['hasLink'].title}}
                    <img *ngIf="msg.content['hasLink'].imageUrl" [src]="msg.content['hasLink'].imageUrl"
                      class="qouteImage qouteImageHeight href_image_margin"
                      [style]="info['HideAutoThumbnail'] ? 'filter: blur(6px);' : ''"
                      [alt]="msg.content['hasLink'].imageAlt" />
                  </div>
                </div>
                <div style="width: 100%; text-align: -webkit-center;">
                  <div *ngIf="msg['isLastRead']" class="read_last_here borderRadiusBig" (click)="SetOtherAct()">
                    {{lang.text['ChatRoom']['YouReadHereLast']}}</div>
                </div>
              </div>
              <div *ngIf="msg.content['noti']" class="notice_form" (click)="SetOtherAct()">
                <div class="notice borderRadiusDefault"> {{msg.content['noti']}} </div>
              </div>
            </div>
            <div *ngFor="let msg of sending_msg" class="my_message_right href_thumbnail_self my_sending_msg">
              <div *ngIf="msg.content['qoute']"
                class="cursor_pointer qoute_text qoute_background borderRadiusBig imageForm"
                (click)="FindQoute(msg.content['qoute'].id, msg.content['qoute'].timestamp)">
                <div class="qouteDiv qouteOnChatBalloon">{{lang.text['ChatRoom']['qouteMsg'] + ': ' +
                  (msg.content['qoute']['username'] || msg.content['qoute']['display_name'])}}</div>
                <div *ngIf="msg.content['qoute'].url" class="imageForm borderRadiusDefault qouteImageHeight">
                  <img [src]="msg.content['qoute'].url" class="qouteImage qouteImageHeight"
                    [style]="info['HideAutoThumbnail'] ? 'filter: blur(6px);' : ''" alt="" />
                </div>
                <div *ngIf="msg.content['qoute'].text" class="qouteDiv qouteOnChatBalloon qouteBalloonBottom">
                  {{msg.content['qoute'].text}}</div>
              </div>
              <div *ngIf="msg.content['filename']" class="my_file_message_form">
                <div *ngIf="!msg.content['thumbnail']" class="cursor_pointer file_button imageForm borderRadiusDefault"
                  [style]="info['HideAutoThumbnail'] ? 'filter: blur(6px);' : ''">
                  <p class="file_info"> {{msg.content['filename']}} </p>
                  <div *ngIf="msg.content['text']" class="text_seperator"></div>
                  <span *ngFor="let line of msg.content['text']" class="file_info file_text_thumbnail"> {{line}} </span>
                </div>
                <div *ngIf="msg.content['thumbnail']" class="file_name_form imageForm borderRadiusDefault">
                  <img class="file_thumbnail imageForm cursor_pointer"
                    [style]="info['HideAutoThumbnail'] ? 'filter: blur(6px);' : ''" [src]="msg.content['thumbnail']"
                    [alt]="msg.content['filename']" />
                </div>
              </div>
              <div *ngIf="msg.content['msg']" class="message_content_form my_file_message_form">
                <div class="msg_balloon borderRadiusBig qouteOnChatBalloon"
                  [style]="(msg.content['msg'][0] && msg.content['msg'][0][0].size) ? 'padding: 0; margin: 0' : 'background-color: #888b'">
                  <div *ngFor="let line of msg.content['msg']" class="msg_inside_balloon">
                    <span>
                      <span *ngFor="let part of line">
                        <span *ngIf="!part.href" class="comp_local_content"
                          [style]="'font-size: ' + (part.size || 16) + 'px'" (click)="SetOtherAct()">
                          {{part.text}} </span>
                        <a *ngIf="part.href" class="text_span" [href]="part.text" class="comp_local_content"
                          onclick="return false;" target="_system" (click)="open_url_link(part.text)">{{part.text}}</a>
                      </span>
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <table class="thumbnails borderRadiusBig imageForm cursor_pointer">
          <tr *ngIf="userInput['qoute']" class="cursor_pointer qoute_text" (click)="RemoveQoute()">
            <div class="qouteDiv">{{lang.text['ChatRoom']['qouteMsg'] + ': ' + (userInput['qoute']['username'] ||
              userInput['qoute']['display_name'])}}
            </div>
            <div *ngIf="userInput['qoute'].text" class="qouteDiv">{{userInput['qoute'].text}}</div>
            <div *ngIf="userInput['qoute'].url" class="imageForm borderRadiusDefault qouteImageHeight"
              style="max-height: 84px;">
              <img [src]="userInput['qoute'].url" class="qouteImage qouteImageHeight"
                [style]="'max-height: 84px;' + (info['HideAutoThumbnail'] ? 'filter: blur(6px);' : '')" alt="" />
            </div>
          </tr>
          <tr *ngIf="IsMsgEditMode" class="cursor_pointer qoute_text" (click)="IsMsgEditMode = undefined">
            <div class="qouteDiv">{{lang.text['ChatRoom']['EditChat'] + ': ' + IsMsgEditMode['msg_string']}}
            </div>
            <div *ngIf="IsMsgEditMode.thumbnail" class="imageForm borderRadiusDefault qouteImageHeight"
              style="max-height: 84px;">
              <img [src]="IsMsgEditMode.thumbnail" class="qouteImage qouteImageHeight"
                [style]="'max-height: 84px;' + (info['HideAutoThumbnail'] ? 'filter: blur(6px);' : '')" alt="" />
            </div>
          </tr>
          <tr *ngIf="userInput.file" class="thumbnail_parts cursor_pointer">
            <td>
              <div (click)="removeAttach()">
                <div style="text-align: center; margin: 4px; max-width: 95vw;"> {{userInput.file['filename']}}
                </div>
                <div *ngIf="userInput.file['thumbnail']">
                  <img id="ChatroomSelectedImage" *ngIf="userInput.file['viewer'] == 'image'" class="image_thumbnail"
                    [src]="userInput.file['thumbnail']" [alt]="userInput.file['name']" />
                </div>
                <div *ngIf="userInput.file['viewer'] == 'code' || userInput.file['viewer'] == 'text'"
                  style="display: grid;" class="thumbnail_parts">
                  <span *ngFor="let line of userInput.file['thumbnail']">
                    {{line}}
                  </span>
                </div>
              </div>
            </td>
          </tr>
          <tr class="thumbnail_parts" *ngIf="ShowGoToBottom && !last_message_viewer.user_id"
            (click)="scroll_down_logs()">
            <td style="text-align: center; padding: 4px 0px; position: relative;">
              <div *ngIf="global.ShowHint && CheckIfFocusOnInput" class="shortcut_hint" style="border-radius: 4px;">
                Enter</div>
              {{lang.text['ChatRoom']['GoToRecent']}}
            </td>
          </tr>
          <tr class="thumbnail_parts" *ngIf="last_message_viewer.user_id" (click)="scroll_down_logs()">
            <td class="bottom_thumbnail imageForm">
              <span [style]="'margin-right: 8px; color: ' + last_message_viewer.color">
                <b>{{(last_message_viewer.is_me ? nakama.users.self['display_name'] :
                  nakama.users[isOfficial][target][last_message_viewer.user_id].display_name)
                  || lang.text['Profile']['noname_user']}}</b></span>
              <span *ngFor="let line of last_message_viewer.message">
                <span *ngFor="let part of line">
                  <span class="text_span" *ngIf="!part.href" (click)="SetOtherAct()"> {{part.text}} </span>
                  <a *ngIf="part.href" [href]="part.text" target="_system" onclick="return false;"
                    (click)="open_url_link(part.text)">{{part.text}}</a>
                </span>
              </span>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td>
        <div>
          <table id="input_table" style="width: 100%; background-color: var(--chatroom-input-background);">
            <tr>
              <td>
                <ion-button fill="clear" mode="md" (click)="open_ext_with_delay()" class="ion-text-center">
                  <div *ngIf="global.ShowHint && !CheckIfFocusOnInput" class="shortcut_hint shortcut_hint_menu">E</div>
                  <ion-icon name="add"></ion-icon>
                </ion-button>
              </td>
              <td style="width: 100%; vertical-align: bottom; position: relative;">
                <div *ngIf="global.ShowHint && !CheckIfFocusOnInput" class="shortcut_hint shortcut_hint_menu"
                  style="z-index: 32;">Enter
                </div>
                <div *ngIf="global.ShowHint && CheckIfFocusOnInput" class="shortcut_hint shortcut_hint_menu"
                  style="z-index: 32;">Backspace
                </div>
                <textarea [id]="ChannelUserInputId" [(ngModel)]="userInput.text" (keyup)="check_key($event)"
                  (keydown)="check_key($event)" class="TextAreaInput imageForm" style="overflow: auto;"
                  (click)="make_ext_hidden()" [placeholder]="inputPlaceholder"></textarea>
              </td>
              <td>
                <ion-button fill="clear" mode="md" (click)="send()" expand="block"
                  [disabled]="!info['status'] || info['status'] == 'missing' || info['status'] == 'offline'">
                  <ion-icon name="send"></ion-icon>
                </ion-button>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
    <tr id="ext_menu" [hidden]="isHidden">
      <td>
        <div
          style="height: 240px; overflow-x: hidden; overflow-y: auto; scroll-behavior: smooth; text-align: center; background-color: var(--chatroom-background);">
          <input hidden type="file" id="local_channel" accept="image/*" (change)="LocalChannelImageChanged($event)">
          <input hidden type="file" id="backgroundImage_sel" accept="image/png"
            (change)="ChangeBackgroundImage($event)">
          <input hidden type="file" [id]="file_sel_id" accept="*" multiple (change)="inputFileSelected($event)">
          <div *ngFor="let button of extended_buttons" style="display: inline-block;">
            <div class="ext_button" [style]="'cursor: ' + (button['cursor'] || 'pointer') + ';'"
              (click)="button['act']()" (contextmenu)="button['context'] ? button['context']() : null"
              [hidden]="button.isHide">
              <div *ngIf="global.ShowHint && !CheckIfFocusOnInput" class="shortcut_hint shortcut_hint_ext_menu">
                {{button['index']}}</div>
              <ion-icon *ngIf="button['icon']" slot="icon-only" [name]="button['icon'] || 'close-circle'"
                style="width: 36px; height: 36px;">
              </ion-icon>
              <img *ngIf="button['icon_img']" class="ext_icon_img" [src]="'assets/icon/' + button['icon_img']"
                [alt]="button['title']" />
              <div>{{button['name']}}</div>
            </div>
          </div>
        </div>
      </td>
    </tr>
  </table>
</ion-content>