<ion-header>
  <ion-toolbar>
    <ion-title>내용 읽기</ion-title>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref="subscribes"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>사용할 수 없는 구성</ion-label>
  </ion-item-divider>
  <textarea class="infobox" disabled [(ngModel)]="info"></textarea>
  <ion-item-divider>
  </ion-item-divider>
  <ion-item>
    <ion-label>
      <p>종류</p>
      <h2>{{result.format}}</h2>
    </ion-label>
  </ion-item>
  <ion-item-divider>
    <ion-label>내용</ion-label>
  </ion-item-divider>
  <textarea class="infobox" disabled [(ngModel)]="result.text"></textarea>
</ion-content>