<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['InstantCall']['Title']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/arcade"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="global.WaitingConnect" id="InstantCallCanvasDiv"
    style="position: absolute; width: 100%; height: 100%; overflow: hidden; pointer-events: none;">
  </div>
  <div *ngIf="!global.WaitingConnect" style="flex: 0 1 auto;">
    <ion-item *ngIf="ServerList.length">
      <ion-select #InstantCallServer [label]="lang.text['AddGroup']['SelectServer']"
        (ionChange)="SelectAddressTarget($event)" value="local" style="pointer-events: none;">
        <ion-select-option value="local">{{lang.text['voidDraw']['InternalConn']}}</ion-select-option>
        <ion-select-option *ngFor="let server of ServerList" [value]="server">{{server.info.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="NeedInputCustomAddress">
      <ion-input [label]="lang.text['voidDraw']['InputAddress']" [(ngModel)]="UserInputCustomAddress"
        class="ion-text-right" placeholder="(wss://)0.0.0.0"></ion-input>
      <ion-icon slot="end" name="open-outline" (click)="global.open_custom_site(UserInputCustomAddress)"></ion-icon>
    </ion-item>
    <ion-item *ngIf="NeedInputCustomAddress">
      <ion-input [label]="lang.text['GroupServer']['WebRTCPort']" [(ngModel)]="Port" class="ion-text-right"
        [placeholder]="lang.text['Settings']['joinDedi_placeholder'] + ' (3478)'"></ion-input>
    </ion-item>
    <ion-item *ngIf="NeedInputCustomAddress">
      <ion-input [label]="lang.text['GroupServer']['SquarePort']" [(ngModel)]="signalPort" class="ion-text-right"
        [placeholder]="lang.text['Settings']['joinDedi_placeholder'] + ' (12013)'"></ion-input>
    </ion-item>
    <ion-item *ngIf="NeedInputCustomAddress">
      <ion-input [label]="lang.text['WebRTCDevManager']['Username']" [(ngModel)]="Username" class="ion-text-right"
        [placeholder]="lang.text['Settings']['joinDedi_placeholder'] + ' (username)'"></ion-input>
    </ion-item>
    <ion-item *ngIf="NeedInputCustomAddress">
      <ion-input [label]="lang.text['WebRTCDevManager']['Credential']" [(ngModel)]="Password" class="ion-text-right"
        [placeholder]="lang.text['Settings']['joinDedi_placeholder'] + ' (password)'"></ion-input>
    </ion-item>
    <ion-item button (click)="LinkToServer()">
      <ion-label class="ion-text-center">{{lang.text['voidDraw']['ConnectToAddress']}}</ion-label>
    </ion-item>
  </div>
  <div *ngIf="QRCodeAsString && global.WaitingConnect">
    <img *ngIf="QRCodeSRC" [src]="QRCodeSRC" style="width: 100%; height: auto; cursor: copy;"
      (click)="copy_qr_address()" alt="QRCode" />
    <ion-item button (click)="copy_qr_address()">
      <ion-label class="ion-text-center">{{QRCodeAsString}}</ion-label>
    </ion-item>
  </div>
  <div *ngIf="!QRCodeAsString && (global.WaitingConnect || global.InitEnd)">
    <div class="disconnect_info">
      <ion-icon style="width: 60px; height: 60px;" color="medium" name="call-outline"></ion-icon>
      <div>
        <ion-label color="medium">{{webrtc.StatusText || lang.text['InstantCall']['Waiting']}}</ion-label>
      </div>
    </div>
  </div>
</ion-content>