<ion-header>
  <ion-toolbar>
    <ion-title>그룹 생성하기</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group *ngIf="servers.length" [disabled]="isSaveClicked" value="colors" expand="inset"
    [value]="isExpanded" #accordionGroup (click)="isExpanded = true">
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>서버 선택</ion-label>
        <ion-label class="ion-text-right">{{servers[index].name}}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item *ngFor="let server of servers; index as i" button (click)="select_server(i)">
          <ion-label>{{server.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item-divider>
    <ion-label>그룹 정보</ion-label>
  </ion-item-divider>
  <ion-item [disabled]="isSaveClicked" button>
    <ion-label>표시명</ion-label>
    <ion-input class="ion-text-right" [(ngModel)]="userInput.title" [placeholder]="'그룹 이름'"></ion-input>
  </ion-item>
  <ion-item button (click)="buttonClickLickInputFile()">
    <div class="additional_form bg_img_form">
      <img class="bg_img" style="filter: grayscale(0) contrast(1);" [src]="userInput.img">
    </div>
    <ion-label>대표 이미지</ion-label>
  </ion-item>
  <input hidden type="file" id="file_sel" accept="image/*" (change)="inputImageSelected($event)">
  <ion-item-divider>
    <ion-label>그룹 참여</ion-label>
  </ion-item-divider>
  <ion-item *ngIf="!QRCodeSRC" disabled>
    <ion-label>그룹을 생성하여 계속</ion-label>
  </ion-item>
  <img *ngIf="QRCodeSRC" [src]="QRCodeSRC" style="width: 100%; height: auto;" alt="준비중">
  <ion-item-divider>
    <ion-label>그룹 상세</ion-label>
  </ion-item-divider>
  <textarea class="infobox" [disabled]="isSaveClicked" [(ngModel)]="userInput.desc" [placeholder]="'그룹 설명'"></textarea>
  <ion-item [disabled]="isSaveClicked" button>
    <ion-label>국가 태그</ion-label>
    <ion-input class="ion-text-right" [(ngModel)]="userInput.lang" [placeholder]="'ko'"></ion-input>
  </ion-item>
  <ion-item [disabled]="isSaveClicked">
    <ion-label>최대 인원</ion-label>
    <ion-input type="number" class="ion-text-right" min="2" [(ngModel)]="userInput.max" [placeholder]="'2'"></ion-input>
    <ion-label class="ion-text-right">명</ion-label>
  </ion-item>
  <ion-item [disabled]="isSaveClicked" button (click)="isPublicToggle()">
    <ion-label>공개 여부</ion-label>
    <ion-toggle slot="end" style="pointer-events: none;" [(ngModel)]="userInput.isPublic"></ion-toggle>
  </ion-item>
  <ion-item button (click)="save()" [disabled]="isSaveClicked">
    <ion-label class="ion-text-center">위 정보로 추가하기</ion-label>
  </ion-item>
</ion-content>