<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['AddGroup']['Title']}}</ion-title>
    <ion-buttons slot="start" (click)="go_back()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group *ngIf="servers.length" [disabled]="isSaveClicked" value="colors" expand="inset"
    [value]="isExpanded" #accordionGroup (click)="isExpanded = true">
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>{{lang.text['AddGroup']['SelectServer']}}</ion-label>
        <ion-label class="ion-text-right">{{servers[index].name}}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item *ngFor="let server of servers; index as i" button (click)="select_server(i)">
          <ion-label>{{server.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item-divider>
    <ion-label>{{lang.text['AddGroup']['GroupInfo']}}</ion-label>
  </ion-item-divider>
  <ion-item [disabled]="isSaveClicked" button>
    <ion-label>{{lang.text['AddGroup']['DisplayName']}}</ion-label>
    <ion-input class="ion-text-right" [(ngModel)]="userInput.name" [placeholder]="lang.text['AddGroup']['DisplayName_placeholder']"></ion-input>
  </ion-item>
  <ion-item button [disabled]="isSaveClicked" (click)="buttonClickLinkInputFile()">
    <div class="additional_form bg_img_form">
      <img class="profile_img" style="filter: grayscale(0) contrast(1);" [src]="userInput.img">
    </div>
    <ion-label>
      <p>{{(userInput.name || lang.text['AddGroup']['DisplayName_placeholder']) + ' (' + userInput.server.target + ')'}}</p>
      <h2>{{lang.text['AddGroup']['ClicktoChangeGroupImg']}}</h2>
    </ion-label>
  </ion-item>
  <ion-item (click)="imageURLPasted()" [hidden]="cant_use_clipboard" [disabled]="isSaveClicked || imageURL_disabled">
    <ion-label color="medium">{{imageURL_placeholder}}</ion-label>
  </ion-item>
  <input hidden type="file" id="file_sel" accept="image/*" (change)="inputImageSelected($event)">
  <ion-item-divider>
    <ion-label>{{lang.text['AddGroup']['JoinThisGroup']}}</ion-label>
  </ion-item-divider>
  <ion-item *ngIf="!QRCodeSRC" disabled>
    <ion-label>{{lang.text['AddGroup']['AfterCreateGroup']}}</ion-label>
  </ion-item>
  <img *ngIf="QRCodeSRC" [src]="QRCodeSRC" style="width: 100%; height: auto;" alt="Loading">
  <ion-item-divider>
    <ion-label>{{lang.text['AddGroup']['GroupDetail']}}</ion-label>
  </ion-item-divider>
  <textarea class="infobox" [disabled]="isSaveClicked" [(ngModel)]="userInput.description" [placeholder]="lang.text['AddGroup']['GroupDetail_placeholder']"></textarea>
  <ion-item [disabled]="isSaveClicked" button>
    <ion-label>{{lang.text['AddGroup']['LanguageTag']}}</ion-label>
    <ion-input class="ion-text-right" [(ngModel)]="userInput.lang_tag" [placeholder]="lang.lang"></ion-input>
  </ion-item>
  <ion-item [disabled]="isSaveClicked">
    <ion-label>{{lang.text['AddGroup']['MemberMaxLimit']}}</ion-label>
    <ion-input type="number" class="ion-text-right" min="2" [(ngModel)]="userInput.max_count" placeholder="2"></ion-input>
  </ion-item>
  <ion-item [disabled]="isSaveClicked" button (click)="isPublicToggle()">
    <ion-label>{{lang.text['AddGroup']['IsOpen']}}</ion-label>
    <ion-toggle slot="end" style="pointer-events: none;" [(ngModel)]="userInput.open"></ion-toggle>
  </ion-item>
  <ion-item button (click)="save()" [disabled]="isSaveClicked">
    <ion-label class="ion-text-center">{{lang.text['AddGroup']['submit']}}</ion-label>
  </ion-item>
</ion-content>