<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['AddGroup']['Title']}}</ion-title>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group *ngIf="servers.length" [disabled]="isSaveClicked" value="colors" expand="inset"
    [value]="isExpanded" #accordionGroup (click)="isExpanded = true">
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>{{lang.text['AddGroup']['SelectServer']}}</ion-label>
        <ion-label class="ion-text-right">{{servers[index].name}}</ion-label>
        <ion-icon class="ion-accordion-toggle-icon hide_accordion_icon"></ion-icon>
      </ion-item>
      <div slot="content">
        <ion-item *ngFor="let server of servers; index as i" button (click)="select_server(i)">
          <ion-label>{{server.name}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <div *ngIf="!userInput.server['local']">
    <ion-item-divider>
      <ion-label>{{lang.text['AddGroup']['JoinGroupWithId']}}</ion-label>
    </ion-item-divider>
    <ion-item [disabled]="isSaveClicked" button>
      <ion-input [label]="lang.text['AddGroup']['InputGroupId']" class="ion-text-right" [(ngModel)]="userInput.id"
        placeholder="00000000-0000-0000-0000-000000000000"></ion-input>
    </ion-item>
  </div>
  <ion-item-divider>
    <ion-label>{{lang.text['AddGroup']['GroupInfo']}}</ion-label>
  </ion-item-divider>
  <ion-item [disabled]="isSaveClicked || userInput.id != ''" button>
    <ion-input id="group_name" [label]="lang.text['AddGroup']['DisplayName']" class="ion-text-right"
      [(ngModel)]="userInput.name" [placeholder]="lang.text['AddGroup']['DisplayName_placeholder']"></ion-input>
  </ion-item>
  <ion-item button [disabled]="isSaveClicked || userInput.id != ''" (click)="buttonClickLinkInputFile()">
    <div class="additional_form bg_img_form">
      <img class="profile_img" style="filter: grayscale(0) contrast(1);" [src]="userInput.img">
    </div>
    <ion-label>
      <p>{{(userInput.name || lang.text['AddGroup']['DisplayName_placeholder']) + ' (' + (userInput.server.name ||
        userInput.server.target) + ')'}}
      </p>
      <h2>{{lang.text['AddGroup']['ClicktoChangeGroupImg']}}</h2>
    </ion-label>
  </ion-item>
  <input hidden type="file" [id]="file_sel_id" accept="image/*" (change)="inputImageSelected($event)">
  <div *ngIf="!userInput.server['local']">
    <ion-item-divider>
      <ion-label>{{lang.text['AddGroup']['GroupDetail']}}</ion-label>
    </ion-item-divider>
    <textarea id="group_desc" class="infobox" [disabled]="isSaveClicked || userInput.id != ''"
      [(ngModel)]="userInput.description" [placeholder]="lang.text['AddGroup']['GroupDetail_placeholder']"></textarea>
    <ion-item [disabled]="isSaveClicked || userInput.id != ''">
      <ion-input [label]="lang.text['AddGroup']['MemberMaxLimit']" type="number" class="ion-text-right" min="2"
        [(ngModel)]="userInput.max_count" placeholder="2"></ion-input>
    </ion-item>
    <ion-item [disabled]="isSaveClicked || userInput.id != ''" #AddGroupPublic button>
      <ion-toggle style="pointer-events: none;" [(ngModel)]="userInput.open" (ionChange)="isPublicToggle()">
        {{lang.text['AddGroup']['IsOpen']}}</ion-toggle>
    </ion-item>
  </div>
  <ion-item button (click)="save()" [disabled]="isSaveClicked">
    <ion-label class="ion-text-center">{{lang.text['AddGroup']['submit']}}</ion-label>
  </ion-item>
</ion-content>