<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['AppCreator']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile_img_form" style="cursor: pointer;" (click)="global.open_link('https://is2you2.github.io/')">
    <img class="profile_img" src="assets/data/creator_img.jpg" alt="CreatorImg">
    <div class="fore-gradient"></div>
    <div class="username">{{info.name}}</div>
  </div>
  <ion-item-divider>
    <ion-label>{{lang.text['CreatorInfo']['creatorComment']}}</ion-label>
  </ion-item-divider>
  <textarea class="infobox content_size" disabled>{{info['text']}}</textarea>
  <div *ngIf="contributors.length">
    <ion-item-divider>
      <ion-label>{{lang.text['CreatorInfo']['contributors']}}</ion-label>
    </ion-item-divider>
    <div class="infobox content_size thanks_bg">
      <ion-chip *ngFor="let user of contributors; let i = index" (click)="global.open_link(user.url)"
        [style]="user.mvp ? 'filter: drop-shadow(0px 0px 12px var(--ion-color-dark))' : ''">
        <ion-avatar *ngIf="user.avatar">
          <img [src]="user.avatar" />
        </ion-avatar>
        <ion-icon *ngIf="!user.avatar" name="person-circle-outline"></ion-icon>
        <ion-label>{{user[lang.lang]}}</ion-label>
      </ion-chip>
    </div>
  </div>
  <ion-item-divider>
    <ion-label>{{lang.text['CreatorInfo']['thanks_to']}}</ion-label>
  </ion-item-divider>
  <div class="infobox content_size thanks_bg">
    <ion-chip *ngFor="let user of special_thanks_to; let i = index" (click)="global.open_link(user.url)"
      [style]="user.mvp ? 'filter: drop-shadow(0px 0px 12px var(--ion-color-dark))' : ''">
      <ion-avatar *ngIf="user.avatar">
        <img [src]="user.avatar" />
      </ion-avatar>
      <ion-icon *ngIf="!user.avatar" name="person-circle-outline"></ion-icon>
      <ion-label>{{user[lang.lang]}}</ion-label>
    </ion-chip>
  </div>
  <div *ngIf="isMobileApp">
    <ion-item-divider>
      <ion-label>{{lang.text['Profile']['main_content']}}</ion-label>
    </ion-item-divider>
    <textarea class="infobox" style="height: 360px;" disabled>{{lang.text['Profile']['not_available_yet']}}</textarea>
  </div>
  <div *ngIf="isMobileApp">
    <ion-item-divider>
      <ion-label>{{lang.text['CreatorInfo']['Ifyoulike']}}</ion-label>
    </ion-item-divider>
    <ion-item button (click)="inAppPurchaseClicked()">
      <ion-label>{{lang.text['CreatorInfo']['giveacoffeetodev']}}</ion-label>
    </ion-item>
  </div>
</ion-content>