<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['AppCreator']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile_img_form">
    <img class="profile_img" src="assets/data/creator_img.jpg" alt="CreatorImg">
    <div class="fore-gradient"></div>
    <div class="username">{{info.name}}</div>
  </div>
  <ion-item-divider>
    <ion-label>{{lang.text['CreatorInfo']['creatorComment']}}</ion-label>
  </ion-item-divider>
  <textarea class="infobox content_size" disabled>{{info['text']}}</textarea>
  <ion-item-divider>
    <ion-label>{{lang.text['CreatorInfo']['thanks_to']}}</ion-label>
  </ion-item-divider>
  <div class="infobox content_size thanks_bg">
    <span *ngFor="let user of special_thanks_to">
      <span *ngIf="!user.url">
        {{user[lang.lang]}}
      </span>
      <a *ngIf="user.url" [href]="user.url" target="_system">{{user[lang.lang]}}</a>
    </span>
  </div>
  <div *ngIf="isMobileApp">
    <ion-item-divider>
      <ion-label>{{lang.text['Profile']['main_content']}}</ion-label>
    </ion-item-divider>
    <textarea class="infobox" style="height: 360px;" disabled>{{lang.text['Profile']['not_available_yet']}}</textarea>
  </div>
  <div *ngIf="isMobileApp">
    <ion-item-divider>
      <ion-label>{{lang.text['CreatorInfo']['Ifyoulike']}}</ion-label>
    </ion-item-divider>
    <ion-item button (click)="inAppPurchaseClicked()">
      <ion-label>{{lang.text['CreatorInfo']['giveacoffeetodev']}}</ion-label>
    </ion-item>
  </div>
</ion-content>