.content_size {
    height: 14vh;
}

.fore-gradient {
    position: relative;
    background-image: linear-gradient(to top, #000f, #0000);
    width: 100%;
    height: 100%;
}

.thanks_bg {
    background-color: var(--wsclient-logs-background);
    overflow-y: auto;
}