<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['AppCreator']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile_img_form">
    <img class="profile_img" src="assets/data/creator_img.jpg" alt="CreatorImg">
    <div class="fore-gradient"></div>
    <div class="username">{{info.name}}</div>
  </div>
  <ion-item-divider>
    <ion-label>{{lang.text['CreatorInfo']['creatorComment']}}</ion-label>
  </ion-item-divider>
  <div>
    <textarea class="infobox content_size" disabled>{{info['text']}}</textarea>
  </div>
  <ion-item-divider>
    <ion-label>{{lang.text['Settings']['LicenseNotice']}}</ion-label>
  </ion-item-divider>
  <div>
    <textarea class="infobox content_size" disabled>{{'ⓒ 2023 ' + info.name}}</textarea>
  </div>
  <div *ngIf="isMobileApp">
    <ion-item-divider>
      <ion-label>{{lang.text['CreatorInfo']['Ifyoulike']}}</ion-label>
    </ion-item-divider>
    <ion-item button (click)="inAppPurchaseClicked()">
      <ion-label>{{lang.text['CreatorInfo']['giveacoffeetodev']}}</ion-label>
    </ion-item>
  </div>
</ion-content>