  <ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['commServer']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>{{lang.text['CommunityServer']['AboutCommServer']}}</ion-label>
  </ion-item-divider>
  <textarea class="infobox" disabled [(ngModel)]="info" style="height: 350px;"></textarea>

  <ion-item-divider>
    <ion-label>{{lang.text['CommunityServer']['ServerStatus']}}</ion-label>
  </ion-item-divider>
  <ion-item button (click)="reconn_community_server()">
    <div class="additional_form status_bar_single"
      [style]="'background-color: ' + statusBar.colors[statusBar.settings['communityServer']]"></div>
    <ion-label class="form_margin">{{lang.text['CommunityServer']['AddressInfo']}}</ion-label>
    <ion-input type="text" class="ion-text-end" [(ngModel)]="address_override" (ionChange)="on_address_changed($event)">
    </ion-input>
  </ion-item>
  <ion-item [disabled]="!address_override" (click)="toggle_useSSL()" button>
    <ion-label>{{lang.text['CommunityServer']['isSSL']}}</ion-label>
    <ion-toggle [(ngModel)]="useSSL" slot="end" style="pointer-events: none;"></ion-toggle>
  </ion-item>
</ion-content>