<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
    <ion-title>라이선스 고지</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Program</ion-label>
    <ion-button>보기</ion-button>
  </ion-list-header>
  <ion-item-divider>
    <ion-label>License name</ion-label>
  </ion-item-divider>
  <textarea class="license" disabled>Loading..</textarea>
  ionic 6, capacitor, Godot engine_sub, p5js, noto font
</ion-content>