<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['InAppExplorer']}}</ion-title>
    <!-- <ion-title>{{lang.text['UserFsDir']['Title']}}</ion-title> -->
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngIf="CurrentDir != ''" button (click)="MoveToUpDir()">
      <ion-icon slot="start" name="folder"></ion-icon>
      <ion-label>..</ion-label>
    </ion-item>
    <div *ngFor="let folder of DirList">
      <ion-item *ngIf="CurrentDir == folder.dir" button (click)="SelectFolder(folder)">
        <ion-icon slot="start" name="folder"></ion-icon>
        <ion-label>{{folder.name}}</ion-label>
      </ion-item>
    </div>
    <ion-accordion-group #FileSel>
      <div *ngFor="let file of FileList; index as i">
        <ion-accordion *ngIf="CurrentDir == file.dir" [value]="file.path">
          <ion-item slot="header">
            <ion-icon *ngIf="file.viewer == 'image'" slot="start" name="image"></ion-icon>
            <ion-icon *ngIf="file.viewer == 'audio'" slot="start" name="musical-notes"></ion-icon>
            <ion-icon *ngIf="file.viewer == 'video'" slot="start" name="play-circle"></ion-icon>
            <ion-icon *ngIf="file.viewer == 'text'" slot="start" name="reader"></ion-icon>
            <ion-icon *ngIf="file.viewer == 'godot'" slot="start" name="extension-puzzle"></ion-icon>
            <ion-icon *ngIf="file.viewer == 'disabled'" slot="start" name="document"></ion-icon>
            <ion-label>{{file.name}}</ion-label>
          </ion-item>
          <ion-list slot="content">
            <ion-item button>
              <ion-label>{{lang.text['UserFsDir']['Action']}}</ion-label>
              <ion-button *ngIf="file.viewer != 'disabled' && file.viewer != 'image'" class="ion-text-right"
                (click)="OpenFile(file)">
                {{lang.text['UserFsDir']['Open']}}
              </ion-button>
              <ion-button *ngIf="WillReturn" (click)="UseFile(file)" class="ion-text-right">
                {{lang.text['UserFsDir']['Use']}}
              </ion-button>
              <ion-button *ngIf="!WillReturn && cant_dedicated" class="ion-text-right" (click)="DownloadFile(file)">
                {{lang.text['UserFsDir']['Download']}}
              </ion-button>
              <ion-button *ngIf="!WillReturn" class="ion-text-end" (click)="RemoveFile(file, i)">
                {{lang.text['UserFsDir']['Delete']}}
              </ion-button>
            </ion-item>
            <div *ngIf="file.viewer == 'image'" class="image_front_form" (click)="OpenFile(file)">
              <img class="image_front_view" [src]="file.thumbnail" [alt]="file.name">
            </div>
            <ion-item button>
              <ion-label>{{lang.text['UserFsDir']['CreateAt']}}</ion-label>
              <ion-label class="ion-text-end">{{file.timestamp}}</ion-label>
            </ion-item>
          </ion-list>
        </ion-accordion>
      </div>
    </ion-accordion-group>
  </ion-list>
</ion-content>