.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
    overflow: unset;
}

.image_front_form {
    text-align: center;
}

.image_front_view {
    max-height: 233px;
}

.top_icon {
    width: 28px;
    height: 28px;
    padding-right: 28px;
    cursor: pointer;
}

.button_dist {
    padding-left: 2px;
}

.folder_button {
    padding-right: 4px;
}