<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['InAppExplorer']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-icon *ngIf="!HideThumbnail" class="top_icon" slot="end" name="eye-outline"
      (click)="toggle_thumbnail()"></ion-icon>
    <ion-icon *ngIf="HideThumbnail" class="top_icon" slot="end" name="eye-off-outline"
      (click)="toggle_thumbnail()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="p5Drop_userfs"
    style="position: absolute; width: 100%; height: 100%; display: flex; pointer-events: none; z-index: 500;">
    <input hidden type="file" id="import_file" accept="*" multiple (change)="inputFileSelected($event)">
  </div>
  <ion-list>
    <div *ngIf="CurrentDir == '' && !navParams.selector && CanImportFolder">
      <ion-item button (click)="SelectImportFolder()">
        <ion-icon slot="start" name="arrow-down-circle"></ion-icon>
        <ion-label> {{lang.text['UserFsDir']['ImportFolder']}} </ion-label>
      </ion-item>
      <input hidden type="file" id="folder_sel_id" webkitdirectory (change)="inputImageSelected($event)">
    </div>
    <div>
      <ion-item button>
        <ion-icon slot="start" name="folder"></ion-icon>
        <ion-label>.</ion-label>
        <ion-icon color="primary" slot="end" name="folder-open-outline" (click)="CreateNewFolder()"></ion-icon>
        <ion-icon color="primary" slot="end" name="document-outline" (click)="SelectFiles()"></ion-icon>
        <ion-icon color="danger" slot="end" name="close-circle-outline" (click)="RemoveDirectoryRecursive()"></ion-icon>
      </ion-item>
      <ion-item *ngIf="CurrentDir != ''" button (click)="MoveToUpDir()">
        <ion-icon slot="start" name="folder"></ion-icon>
        <ion-label>..</ion-label>
      </ion-item>
    </div>
    <div *ngFor="let folder of DirList" (contextmenu)="DeleteShortcut(folder)">
      <ion-item *ngIf="CurrentDir == folder.dir" button (click)="SelectFolder(folder)">
        <ion-icon slot="start" name="folder"></ion-icon>
        <ion-label>{{folder.name}}</ion-label>
      </ion-item>
    </div>
    <ion-accordion-group #FileSel>
      <div *ngFor="let file of FileList; index as i">
        <ion-accordion *ngIf="CurrentDir == file.dir || navParams.selector" [value]="file.path">
          <ion-item slot="header" (contextmenu)="DeleteShortcut(file, i)">
            <ion-icon *ngIf="file.viewer == 'image'" slot="start" name="image"></ion-icon>
            <ion-icon *ngIf="file.viewer == 'audio'" slot="start" name="musical-notes"></ion-icon>
            <ion-icon *ngIf="file.viewer == 'video'" slot="start" name="play-circle"></ion-icon>
            <ion-icon *ngIf="file.viewer == 'text'" slot="start" name="reader"></ion-icon>
            <ion-icon *ngIf="file.viewer == 'godot'" slot="start" name="extension-puzzle"></ion-icon>
            <ion-icon *ngIf="file.viewer == 'code'" slot="start" name="code-slash-outline"></ion-icon>
            <ion-icon *ngIf="file.viewer == 'blender'" slot="start" name="cube-outline"></ion-icon>
            <ion-icon *ngIf="file.viewer == 'disabled'" slot="start" name="document"></ion-icon>
            <ion-label *ngIf="FileSel.value == file.path" text-wrap>{{file.name}}</ion-label>
            <ion-label *ngIf="FileSel.value != file.path">{{file.name}}</ion-label>
            <ion-icon class="ion-accordion-toggle-icon hide_accordion_icon"></ion-icon>
          </ion-item>
          <div slot="content">
            <ion-item button>
              <ion-label>{{lang.text['UserFsDir']['Action']}}</ion-label>
              <ion-button *ngIf="file.viewer != 'image'" class="ion-text-right button_dist" (click)="OpenFile(file)">
                {{lang.text['UserFsDir']['Open']}}
              </ion-button>
              <ion-button *ngIf="navParams.selector" class="ion-text-right button_dist" (click)="dismiss_page(file)">
                {{lang.text['UserFsDir']['Select']}}
              </ion-button>
              <ion-button *ngIf="!navParams.selector" class="ion-text-right button_dist" (click)="DownloadFile(file)">
                {{lang.text['UserFsDir']['Download']}}
              </ion-button>
              <ion-button class="ion-text-end button_dist" (click)="RemoveFile(file, i)">
                {{lang.text['UserFsDir']['Delete']}}
              </ion-button>
            </ion-item>
            <div *ngIf="file.viewer == 'image'" class="image_front_form" (click)="OpenFile(file)">
              <img class="image_front_view" [style]="HideThumbnail ? 'filter: blur(6px);' : ''" [src]="file.thumbnail"
                [alt]="file.name" />
            </div>
          </div>
        </ion-accordion>
      </div>
    </ion-accordion-group>
  </ion-list>
</ion-content>