.item.sc-ion-label-md-h,
.item .sc-ion-label-md-h {
    overflow: unset;
}

.image_front_form {
    display: flex;
    justify-content: center;
    text-align: center;
}

.image_front_view {
    max-height: 233px;
}

.button_dist {
    padding-left: 2px;
}

.folder_button {
    padding-right: 4px;
}