<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['admin_req_counter']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>{{lang.text['Administrator']['counter_now']}}</ion-label>
    <ion-button slot="end" (click)="refresh_count()" fill="clear" shape="round">
      {{lang.text['Administrator']['counter_refresh']}}
    </ion-button>
  </ion-item-divider>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="grid_form grid_title">#</ion-col>
      <ion-col class="grid_form grid_title grid_title_top">{{lang.text['Administrator']['counter_current']}}</ion-col>
      <ion-col class="grid_form grid_title grid_title_top">{{lang.text['Administrator']['counter_maximum']}}</ion-col>
      <ion-col class="grid_form grid_title grid_title_top">{{lang.text['Administrator']['counter_stack']}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="grid_form grid_title grid_title_left">Counter</ion-col>
      <ion-col class="grid_form grid_content">{{calcs.assistant.current}}</ion-col>
      <ion-col class="grid_form grid_content">{{calcs.assistant.maximum}}</ion-col>
      <ion-col class="grid_form grid_content">{{calcs.assistant.stack}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="grid_form grid_title grid_title_left">SC1_cus</ion-col>
      <ion-col class="grid_form grid_content">{{calcs.sc1_custom.current}}</ion-col>
      <ion-col class="grid_form grid_content">{{calcs.sc1_custom.maximum}}</ion-col>
      <ion-col class="grid_form grid_content">{{calcs.sc1_custom.stack}}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="grid_form grid_title grid_title_left">Minichat</ion-col>
      <ion-col class="grid_form grid_content">{{calcs.minichat.current}}</ion-col>
      <ion-col class="grid_form grid_content">{{calcs.minichat.maximum}}</ion-col>
      <ion-col class="grid_form grid_content">{{calcs.minichat.stack}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-item-divider>
    <ion-label>{{lang.text['Administrator']['battery_now']}}</ion-label>
    <ion-button slot="end" (click)="refresh_battery()" fill="clear" shape="round">
      {{lang.text['Administrator']['counter_refresh']}}
    </ion-button>
  </ion-item-divider>
  <ion-item *ngIf="battery.percent != -1" button>
    <ion-label>{{lang.text['Administrator']['battery_percent']}}</ion-label>
    <ion-label class="ion-text-right">{{battery.percent + '%'}}</ion-label>
  </ion-item>
  <ion-item *ngIf="battery.time != -1" button>
    <ion-label>{{lang.text['Administrator']['battery_time']}}</ion-label>
    <ion-label class="ion-text-right">{{battery.time}}</ion-label>
  </ion-item>
  <ion-item button>
    <ion-label>{{lang.text['Administrator']['battery_state']}}</ion-label>
    <ion-label class="ion-text-right">{{lang.text['Administrator']['battery_state_' + battery.state]}}</ion-label>
  </ion-item>
</ion-content>