.grid_form {
    text-align: center;
}

.grid_title {
    background-color: #3a3a3a;
}

.grid_title_top {
    margin: 0px 0px 0px 4px;
}

.grid_title_left {
    margin: 4px 0px 0px 0px;
}

.grid_content {
    background-color: #2d2d2d;
    margin: 4px 0px 0px 4px;
}