.grid_form {
    text-align: center;
}

.grid_title {
    background-color: var(--req-counter-title);
}

.grid_title_top {
    margin: 0px 0px 0px 4px;
}

.grid_title_left {
    margin: 4px 0px 0px 0px;
}

.grid_content {
    background-color: var(--req-counter-content);
    margin: 4px 0px 0px 4px;
}