<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['groupServer']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="GroupServerCanvasDiv" style="position: absolute; width: 100%; height: 100%; display: flex;">
  </div>
  <div *ngIf="ShowServerList" style="position: absolute; bottom: 0; width: 100%;">
    <ion-accordion-group>
      <ion-accordion value="open">
        <ion-item button slot="header">
          <ion-label>{{lang.text['GroupServer']['JoinedServerList']}}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-item *ngIf="CanAddTestServer" button (click)="add_dev_test_server()">
            <ion-label color="secondary">{{lang.text['GroupServer']['UseDevTestServer']}}</ion-label>
          </ion-item>
          <ion-item *ngFor="let server of servers" button (click)="link_group(server.isOfficial, server.target)">
            <div class="additional_form status_bar_single"
              [style]="'background-color: ' + statusBar.colors[(statusBar.groupServer[server.isOfficial][server.target]) || 'offline']">
            </div>
            <ion-label class="form_margin">
              <h2>{{server.name}}</h2>
              <p>{{(server.useSSL ? 'https://' : 'http://') + server.address + ':' + server.port}}</p>
            </ion-label>
            <ion-button style="padding-right: 4px" (click)="edit_server_info(server.isOfficial, server.target)">
              {{lang.text['GroupServer']['EditInfo']}}
            </ion-button>
            <ion-button (click)="remove_server(server.isOfficial, server.target)">
              {{statusBar.groupServer[server.isOfficial][server.target] == 'online' ?
              lang.text['GroupServer']['RemoveAccount']
              : lang.text['GroupServer']['RemoveUnofficial']}}
            </ion-button>
          </ion-item>
          <ion-item button (click)="OpenNewServerForm()">
            <ion-label class="ion-text-center">{{lang.text['GroupServer']['RegisterServer']}}</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
    <ion-item button (click)="toggle_online()">
      <ion-label class="ion-text-center" color="tertiary">{{lang.text['Profile']['LogOut']}}</ion-label>
    </ion-item>
  </div>
  <input hidden type="file" [id]="file_sel_id" accept="image/*" (change)="inputImageSelected($event)">

  <ion-modal #RegisterNewServer [initialBreakpoint]="isMobilePWA ? .6 : .4" [breakpoints]="[.4, .6]">
    <ng-template>
      <ion-content>
        <ion-item>
          <ion-label class="ion-text-center">{{lang.text['GroupServer']['RegisterServer']}}</ion-label>
        </ion-item>
        <ion-item button [disabled]="add_custom_tog">
          <ion-input [label]="lang.text['GroupServer']['DisplayName']" class="ion-text-right"
            [(ngModel)]="dedicated_info.name"
            [placeholder]="lang.text['GroupServer']['DisplayName_placeholder']"></ion-input>
        </ion-item>
        <ion-item button [disabled]="add_custom_tog">
          <ion-input [label]="lang.text['GroupServer']['Address']" class="ion-text-right"
            [(ngModel)]="dedicated_info.address" placeholder="(https://)192.168.0.1"></ion-input>
          <ion-icon slot="end" name="open-outline" (click)="global.open_custom_site(dedicated_info.address)"></ion-icon>
        </ion-item>
        <ion-item button [disabled]="add_custom_tog">
          <ion-input [label]="lang.text['GroupServer']['Key']" [(ngModel)]="dedicated_info.key" class="ion-text-right"
            placeholder="defaultkey">
          </ion-input>
        </ion-item>
        <ion-item button (click)="add_custom_dedicated()" [disabled]="add_custom_tog">
          <ion-label class="ion-text-center">{{lang.text['GroupServer']['submit']}}</ion-label>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>