<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['groupServer']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>{{lang.text['GroupServer']['AboutServerAndAccount']}}</ion-label>
  </ion-item-divider>
  <textarea class="infobox" disabled [(ngModel)]="info" style="height: 250px;"></textarea>
  <ion-item-divider *ngIf="nakama.servers['official']['default'] || servers.length">
    <ion-label>{{lang.text['GroupServer']['JoinedServerList']}}</ion-label>
  </ion-item-divider>
  <!-- <ion-item *ngIf="nakama.servers['official']['default']" button (click)="link_group('official','default')">
    <div class="additional_form status_bar_single"
      [style]="'background-color: ' + statusBar.colors[statusBar.groupServer.official['default']]"></div>
    <ion-label class="form_margin">{{nakama.servers['official']['default']['info'].name}}</ion-label>
    <ion-button (click)="remove_server('official', 'default')">
      {{lang.text['GroupServer']['HideOfficialDefault']}}
    </ion-button>
  </ion-item> -->
  <ion-item *ngFor="let server of servers" button (click)="link_group(server.isOfficial, server.target)">
    <div class="additional_form status_bar_single"
      [style]="'background-color: ' + statusBar.colors[(statusBar.groupServer[server.isOfficial][server.target]) || 'offline']"></div>
    <ion-label class="form_margin">
      <h2>{{server.name}}</h2>
      <p>{{server.target}} ({{server.address}})</p>
    </ion-label>
    <ion-button (click)="view_detail(server)">
      {{lang.text['GroupServer']['ServerDetail']}}
    </ion-button>
    <ion-button (click)="remove_server(server.isOfficial, server.target)">
      {{lang.text['GroupServer']['RemoveUnofficial']}}
    </ion-button>
  </ion-item>

  <ion-item-divider>
    <ion-label>{{lang.text['GroupServer']['RegisterServer']}}</ion-label>
  </ion-item-divider>
  <ion-item button [disabled]="add_custom_tog">
    <ion-label>{{lang.text['GroupServer']['DisplayName']}}</ion-label>
    <ion-input class="ion-text-right" [(ngModel)]="dedicated_info.name"
      [placeholder]="lang.text['GroupServer']['DisplayName_placeholder']"></ion-input>
  </ion-item>
  <ion-item button [disabled]="add_custom_tog">
    <ion-label>{{lang.text['GroupServer']['DivisionName']}}</ion-label>
    <ion-input class="ion-text-right" [(ngModel)]="dedicated_info.target"
      [placeholder]="dedicated_info.name || lang.text['GroupServer']['DivisionName_placeholder']"></ion-input>
  </ion-item>
  <ion-item button [disabled]="add_custom_tog">
    <ion-label>{{lang.text['GroupServer']['Address']}}</ion-label>
    <ion-input class="ion-text-right" [(ngModel)]="dedicated_info.address" placeholder="192.168.0.1"></ion-input>
  </ion-item>
  <ion-item button [disabled]="add_custom_tog">
    <ion-label>{{lang.text['GroupServer']['Key']}}</ion-label>
    <ion-input disabled [(ngModel)]="dedicated_info.key" class="ion-text-right" placeholder="defaultkey">
    </ion-input>
  </ion-item>
  <ion-item button [disabled]="add_custom_tog">
    <ion-label>{{lang.text['GroupServer']['Port']}}</ion-label>
    <ion-input disabled [(ngModel)]="dedicated_info.port" class="ion-text-right" type="number" placeholder="7350">
    </ion-input>
  </ion-item>
  <ion-item button (click)="dedicated_info.useSSL =! dedicated_info.useSSL" [disabled]="add_custom_tog">
    <ion-label>{{lang.text['GroupServer']['isSSL']}}</ion-label>
    <ion-toggle [(ngModel)]="dedicated_info.useSSL" slot="end" style="pointer-events: none;"></ion-toggle>
  </ion-item>
  <ion-item button (click)="add_custom_dedicated()" [disabled]="add_custom_tog">
    <ion-label class="ion-text-center">{{lang.text['GroupServer']['submit']}}</ion-label>
  </ion-item>
</ion-content>