<ion-header>
  <ion-toolbar>
    <ion-title>회원가입</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>ID(이메일)</ion-label>
    <ion-input type="text" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>비밀번호</ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>비밀번호 확인</ion-label>
    <ion-input type="password" [(ngModel)]="user.password_retry"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>닉네임</ion-label>
    <ion-input type="text" [(ngModel)]="user.nickname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>성별</ion-label>
    <ion-select [(ngModel)]="user.sex">
      <ion-select-option value="male">남성</ion-select-option>
      <ion-select-option value="female">여성</ion-select-option>
      <ion-select-option value="ATH">공격헬기</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button (click)="OnClickRegister()" expand="block" fill="clear" shape="round">
    회원가입
  </ion-button>
</ion-content>