<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['ChatRoom']['voidDraw']}}</ion-title>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="p5_void_draw" class="full_screen" style="display: flex; background-color: grey; overflow: hidden;"></div>
  <div id="interface_table">
    <table style="width: 100%; background-color: var(--voidDraw-menu-background);">
      <tr>
        <td class="menu_button">
          <button class="button_font" (click)="new_image()">
            <img class="menu_icon" src="" alt="">
            {{lang.text['voidDraw']['newDraw']}}
          </button>
        </td>
        <td class="menu_button">
          <button class="button_font"
            [disabled]="!global.godot_window || !global.godot_window.current_act || global.godot_window.current_act == 0"
            (click)="act_history(-1)">
            <img class="menu_icon" src="" alt="">
            {{lang.text['voidDraw']['Undo']}}
          </button>
        </td>
        <td class="menu_button">
          <button class="button_font"
            [disabled]="!global.godot_window || global.godot_window.current_act == global.godot_window.draw_length"
            (click)="act_history(1)">
            <img class="menu_icon" src="" alt="">
            {{lang.text['voidDraw']['Redo']}}
          </button>
        </td>
        <td class="menu_button">
          <button class="button_font">
            <img class="menu_icon" src="" alt="">
            {{lang.text['voidDraw']['strokeColor']}}
          </button>
        </td>
        <td class="menu_button">
          <button class="button_font" (click)="change_line_weight()">
            <img class="menu_icon" src="" alt="">
            {{lang.text['voidDraw']['strokeWeight']}}
          </button>
        </td>
        <td class="menu_button">
          <button class="button_font" (click)="dismiss_draw()">
            <img class="menu_icon" src="" alt="">
            {{lang.text['voidDraw']['useDraw']}}
          </button>
        </td>
      </tr>
    </table>
  </div>
</ion-content>