#interface_table {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.menu_icon {
    max-width: 36px;
    max-height: 36px;
}

.menu_button {
    text-align: center;
}

.button_font {
    font-size: 16px;
}