<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['ChatRoom']['voidDraw']}}</ion-title>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="p5_void_draw" class="full_screen" style="display: flex; background-color: grey; overflow: hidden;"></div>
  <div id="interface_table">
    <table>
      <tr>
        <td>
          <img class="menu_icon" src="" alt="">
          {{lang.text['voidDraw']['moveMenu']}}
        </td>
      </tr>
      <tr (click)="new_image()">
        <td>
          <img class="menu_icon" src="" alt="">
          {{lang.text['voidDraw']['newDraw']}}
        </td>
      </tr>
      <tr>
        <td>
          <img class="menu_icon" src="" alt="">
          {{lang.text['voidDraw']['strokeColor']}}
        </td>
      </tr>
      <tr (click)="change_line_weight()">
        <td>
          <img class="menu_icon" src="" alt="">
          {{lang.text['voidDraw']['strokeWeight']}}
        </td>
      </tr>
      <tr (click)="dismiss_draw()">
        <td>
          <img class="menu_icon" src="" alt="">
          {{lang.text['voidDraw']['useDraw']}}
        </td>
      </tr>
    </table>
  </div>
</ion-content>