<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['ChatRoom']['voidDraw']}}</ion-title>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content oncontextmenu="return false;">
  <div hidden>
    <ion-select #RemoteDraw [label]="lang.text['voidDraw']['ConnectToAddress']" value="local"
      (ionChange)="RemoteBridgeServerSelected($event)" (ionCancel)="ionSelectCancel()">
      <ion-select-option value="local">{{lang.text['voidDraw']['InternalConn']}}</ion-select-option>
      <ion-select-option *ngFor="let server of ServerList" [value]="server">{{server.info.name}}</ion-select-option>
    </ion-select>
  </div>
  <div id="voidDraw" class="full_screen" style="display: flex; overflow: hidden; background-color: black;">
  </div>
</ion-content>