<ion-header>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-toolbar>
    <ion-title>{{rename_title[title]}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table class="image-table">
    <tr>
      <td style="text-align: center;" (click)="image_change_to(-1)">
        A
      </td>
      <td style="width: 83%;">
        <img style="width: 100%; height: auto;"
          [src]="root+'assets/data/sc1_custom/'+title+'/Screenshots/'+list[picked]" [alt]='title + "_img"'>
      </td>
      <td style="text-align: center;" (click)="image_change_to(1)">
        D
      </td>
    </tr>
    <tr>
      <td></td>
      <td style="text-align: center;">{{picked + 1}} / {{list_len}}</td>
    </tr>
    <tr style="height: 16px;"></tr>
    <tr *ngFor="let map of download_list">
      <td></td>
      <td>
        <ion-button (click)="click_download(map)" expand="block" shape="round">
          <b>다운로드: {{map}}</b>
        </ion-button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div class="text-padding">
          <p style="color: #888;">내용 상세</p>
          <p style="word-break: keep-all;" *ngFor="let line of details">
            {{line}}
          </p>
        </div>
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div class="text-padding">
          <p style="color: #888;">버전 기록</p>
          <p *ngFor="let line of version_log">
            {{line}}
          </p>
        </div>
      </td>
    </tr>
  </table>
</ion-content>