<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['QuickShareReview']['Title']}}</ion-title>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="servers.length">
    <ion-item-divider>
      <ion-label>{{lang.text['QuickShareReview']['Servers']}}</ion-label>
    </ion-item-divider>
    <ion-accordion-group>
      <ion-accordion *ngFor="let server of servers; index as i" [value]="i">
        <ion-item slot="header">
          <ion-icon *ngIf="!server['grant']" color="danger" slot="start" name="close-outline"></ion-icon>
          <ion-icon *ngIf="server['grant']" color="success" slot="start" name="checkmark-outline"></ion-icon>
          <ion-label>{{server.value.name}}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-item button (click)="server['grant'] =! server['grant']">
            <ion-toggle class="ion_toggle_ignore"
              [(ngModel)]="server['grant']">{{lang.text['QuickShareReview']['QuickShareGrant']}}</ion-toggle>
          </ion-item>
          <ion-item button>
            <ion-label>{{lang.text['GroupServer']['Address']}}</ion-label>
            <ion-label class="ion-text-end">{{server.value.address}}</ion-label>
          </ion-item>
          <ion-item button>
            <ion-label>{{lang.text['GroupServer']['Port']}}</ion-label>
            <ion-label class="ion-text-end">{{server.value.port || 7350}}</ion-label>
          </ion-item>
          <ion-item button>
            <ion-label>{{lang.text['GroupServer']['Key']}}</ion-label>
            <ion-label class="ion-text-end">{{server.value.key || 'defaultkey'}}</ion-label>
          </ion-item>
          <ion-item button>
            <ion-toggle class="ion_toggle_ignore"
              [(ngModel)]="server.value.isSSL">{{lang.text['GroupServer']['isSSL']}}</ion-toggle>
          </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  <div *ngIf="groups.length">
    <ion-item-divider>
      <ion-label>{{lang.text['QuickShareReview']['Channels']}}</ion-label>
    </ion-item-divider>
    <ion-accordion-group>
      <ion-accordion *ngFor="let group of groups; index as i" [value]="i">
        <ion-item slot="header">
          <ion-icon *ngIf="!group['grant']" color="danger" slot="start" name="close-outline"></ion-icon>
          <ion-icon *ngIf="group['grant']" color="success" slot="start" name="checkmark-outline"></ion-icon>
          <ion-label>{{group.name}}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-item button (click)="group['grant'] =! group['grant']">
            <ion-toggle class="ion_toggle_ignore"
              [(ngModel)]="group['grant']">{{lang.text['QuickShareReview']['QuickShareGrant']}}</ion-toggle>
          </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  <div *ngIf="rtcserver.length">
    <ion-item-divider>
      <ion-label>{{lang.text['QuickShareReview']['Channels']}}</ion-label>
    </ion-item-divider>
    <ion-accordion-group>
      <ion-accordion *ngFor="let server of rtcserver; index as i" [value]="i">
        <ion-item slot="header">
          <ion-icon *ngIf="!server['grant']" color="danger" slot="start" name="close-outline"></ion-icon>
          <ion-icon *ngIf="server['grant']" color="success" slot="start" name="checkmark-outline"></ion-icon>
          <ion-label>{{server.value.urls[0]}}</ion-label>
        </ion-item>
        <div slot="content">
          <ion-item *ngFor="let url of server.value.urls">
            <ion-label>{{url}}</ion-label>
          </ion-item>
          <ion-item button (click)="server['grant'] =! server['grant']">
            <ion-toggle class="ion_toggle_ignore"
              [(ngModel)]="server['grant']">{{lang.text['QuickShareReview']['QuickShareGrant']}}</ion-toggle>
          </ion-item>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
</ion-content>

<ion-footer>
  <ion-item button (click)="apply_selected()">
    <ion-label class="ion-text-center">{{lang.text['QuickShareReview']['ApplyChecked']}}</ion-label>
  </ion-item>
</ion-footer>