<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['WebRTCDevManager']['Title']}}</ion-title>
    <ion-buttons slot="start" (click)="modal.dismiss()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="VideoInputs.length">
    <ion-item-divider>
      <ion-label>{{lang.text['WebRTCDevManager']['VideoIn']}}</ion-label>
    </ion-item-divider>
    <ion-radio-group #VideoIn name="videoinput">
      <ion-item *ngFor="let input of VideoInputs; let i = index">
        <ion-label>{{input.label || input.deviceId}}</ion-label>
        <ion-radio [value]="i"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
  <div *ngIf="AudioInputs.length">
    <ion-item-divider>
      <ion-label>{{lang.text['WebRTCDevManager']['AudioIn']}}</ion-label>
    </ion-item-divider>
    <ion-radio-group #AudioIn name="audioinput">
      <ion-item *ngFor="let input of AudioInputs; let i = index">
        <ion-label>{{input.label || input.deviceId}}</ion-label>
        <ion-radio [value]="i"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div>
  <!-- <div *ngIf="AudioOutputs.length">
    <ion-item-divider>
      <ion-label>{{lang.text['WebRTCDevManager']['AudioOut']}}</ion-label>
    </ion-item-divider>
    <ion-radio-group #AudioOut name="audiooutput">
      <ion-item *ngFor="let output of AudioOutputs; let i = index">
        <ion-label>{{output.label || output.deviceId}}</ion-label>
        <ion-radio [value]="i"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </div> -->
  <ion-item button (click)="saveSetup()">
    <ion-label class="ion-text-center">{{lang.text['WebRTCDevManager']['saveSetup']}}</ion-label>
  </ion-item>
</ion-content>