.list_form {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(135px, 1fr));
    padding: 16px;
    gap: 16px;
}

.list_add_btn {
    flex: 0 1;
}

.list_ele {
    cursor: pointer;
    border: 1px solid var(--list-shortcut-hint-background);
    border-radius: 8px;
    min-width: 135px;
    min-height: 90px;
    text-align: center;
    align-content: center;
    position: relative;
}

.md .add_group {
    position: absolute;
    right: 68px;
    top: 16px;
    cursor: pointer;
}

.ios .add_group {
    position: absolute;
    right: 58px;
    top: 10px;
    cursor: pointer;
}

.md .top_icon_override_1 {
    right: 116px;
}

.ios .top_icon_override_1 {
    right: 96px;
}

.md .top_icon_override_2 {
    right: 164px;
    top: 13px;
}

.ios .top_icon_override_2 {
    right: 134px;
    top: 7px;
}