<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['Arcade']['Title']}}</ion-title>
    <div (click)="JoinInstantCall()" class="add_group top_icon_override_1">
      <ion-icon button style="width: 24px; height: 24px; " name="call-outline"></ion-icon>
    </div>
    <div (click)="JoinSmallTalk()" class="add_group">
      <ion-icon button style="width: 24px; height: 24px; " name="chatbubbles-outline"></ion-icon>
    </div>
    <div class="header_online_circle"
      [style]="'background-color: ' + statusBar.colors[statusBar.settings.groupServer] + '; cursor: pointer;'"
      (click)="nakama.toggle_all_session()">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="disconnect_info">
    <ion-icon style="width: 60px; height: 60px;" color="medium" name="game-controller-outline"></ion-icon>
    <div>
      <ion-label color="medium">{{lang.text['Arcade']['Preparing']}}</ion-label>
    </div>
  </div>
  <ion-modal #ArcadeQRShare class="transparent-modal">
    <ng-template>
      <div style="display: flex; justify-content: center; align-items: center; height: 100%;">
        <div
          style="width: 400px; height: 455px; background-color: var(--chatroom-background); text-align: center; padding: 16px">
          <!-- <img *ngIf="QRCodeSRC" [src]="QRCodeSRC" style="width: 100%; height: auto; cursor: copy;"
            (click)="copy_address(SelectedAddress)" alt="QuickLink" />
          <ion-item button (click)="copy_address(QRNavParams.channel)">
            <ion-label class="ion-text-center">{{QRNavParams.channel}}</ion-label>
          </ion-item> -->
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>