<ion-header *ngIf="!global.ArcadeLoaded" class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['Arcade']['Title']}}</ion-title>
    <img (click)="QuickLinkAct()" (contextmenu)="QuickLinkContextmenu()" class="add_group top_icon_override_2"
      style="width: 32px; height: 32px;" src="assets/icon/voidDraw.png" />
    <input hidden type="file" id="arcade_voiddraw_img" accept="image/*"
      (change)="SelectVoidDrawBackgroundImage($event)">
    <div (click)="JoinInstantCall()" class="add_group top_icon_override_1">
      <ion-icon button style="width: 24px; height: 24px; " name="call-outline"></ion-icon>
    </div>
    <div (click)="JoinSmallTalk()" class="add_group">
      <ion-icon button style="width: 24px; height: 24px; " name="chatbubbles-outline"></ion-icon>
    </div>
    <div class="header_online_circle"
      [style]="'background-color: ' + statusBar.colors[statusBar.settings.groupServer] + '; cursor: pointer;'"
      (click)="nakama.toggle_all_session()">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="disconnect_info">
    <ion-icon style="width: 60px; height: 60px;" color="medium" name="game-controller-outline"></ion-icon>
    <div>
      <ion-label color="medium">{{lang.text['Arcade']['Preparing']}}</ion-label>
    </div>
  </div>
  <div *ngIf="!global.ArcadeLoaded">
    <ion-item-divider>
      <ion-label>{{lang.text['Arcade']['AddCustom']}}</ion-label>
    </ion-item-divider>
    <div class="fixed_btn_size">
      <input hidden type="file" id="arcade_file_input" accept=".pck" (change)="inputFileSelected($event)">
      <div class="list_ele list_add_btn" (click)="AddCustomGame()" (contextmenu)="AddCustomGameFromClipboard()">
        <div class="disconnect_info">
          <ion-icon style="width: 36px; height: 36px;" color="medium" name="extension-puzzle-outline"></ion-icon>
          <div>
            <ion-label color="medium">{{lang.text['Arcade']['FromPck']}}</ion-label>
          </div>
        </div>
      </div>
      <input hidden type="file" id="arcade_file_load" multiple accept="*" (change)="LoadFileFromLocalAct($event)">
      <div class="list_ele list_add_btn" (click)="LoadFileFromLocal()" (contextmenu)="LoadFileFromClipboard()">
        <div class="disconnect_info">
          <ion-icon style="width: 36px; height: 36px;" color="medium" name="document-outline"></ion-icon>
          <div>
            <ion-label color="medium">{{lang.text['Arcade']['FromFile']}}</ion-label>
          </div>
        </div>
      </div>
    </div>
    <!-- 공식 게임 리스트 -->
    <div *ngIf="nakama.ArcadeListOfficial.length">
      <ion-item-divider>
        <ion-label>{{lang.text['Arcade']['OfficialList']}}</ion-label>
        <!-- 공식 리스트 필터 -->
        <div style="position: absolute; right: 16px;">
          <ion-icon style="margin-right: 8px; cursor: pointer;" name="search-outline"></ion-icon>
          <input disabled style="border: none; border-bottom: 1px solid; outline: none;" type="text">
        </div>
      </ion-item-divider>
      <div class="fixed_btn_size">
        <div *ngFor="let info of nakama.ArcadeListOfficial" class="list_ele list_add_btn" (click)="ShowGameInfo()">
          <div *ngIf="info.cover" class="cover_image" [style]="'background-image: url(' + info.cover + ');'"></div>
          <div class="disconnect_info">
            {{info.name}}
          </div>
        </div>
      </div>
    </div>
    <!-- 사설 서버로부터 받은 리스트 -->
    <div *ngIf="nakama.ArcadeList.length">
      <ion-item-divider>
        <ion-label>{{lang.text['Arcade']['DediList']}}</ion-label>
        <!-- 비공식 리스트 필터 -->
        <div style="position: absolute; right: 16px;">
          <ion-icon style="margin-right: 8px; cursor: pointer;" name="search-outline"></ion-icon>
          <input disabled style="border: none; border-bottom: 1px solid; outline: none;" type="text">
        </div>
      </ion-item-divider>
      <div *ngFor="let info of nakama.ArcadeList" class="list_form">
        <div *ngFor="let arcade of nakama.ArcadeList" class="list_ele" (click)="ShowGameInfo()">
          <div *ngIf="info.cover" class="cover_image" [style]="'background-image: url(' + info.cover + ');'"></div>
          <div class="disconnect_info">
            {{info.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="global.ArcadeLoaded">
    <div id="arcade_pck_loaded" class="full_screen" style="position: fixed;"></div>
  </div>
  <ion-modal #ArcadeDetail class="transparent-modal" [enterAnimation]="enterAnimation"
    [leaveAnimation]="leaveAnimation">
    <ng-template>
      <div id="arcade_detail" class="OutterModal" (click)="CheckIfDismissAct($event)">
        <div style="display: flex; justify-content: center; align-items: center;">
          <div
            style="width: 400px; height: 455px; background-color: var(--chatroom-background); text-align: center; padding: 16px; border-radius: 16px;">
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <ion-modal #ArcadeQRShare class="transparent-modal">
    <ng-template>
      <div style="display: flex; justify-content: center; align-items: center;">
        <div
          style="width: 400px; min-height: 455px; background-color: var(--chatroom-background); text-align: center; padding: 16px">
          <img *ngIf="global.ArcadeQRCodeSRC" [src]="global.ArcadeQRCodeSRC"
            style="width: 100%; height: auto; cursor: copy; margin-bottom: 8px;"
            (click)="copy_address(global.ArcadeQRAddress)" alt="ArcadeQuickLink" />
          <ion-item button (click)="copy_address(global.ArcadeQRAddress)">
            <ion-label class="ion-text-center">{{global.ArcadeQRAddress}}</ion-label>
          </ion-item>
        </div>
      </div>
    </ng-template>
  </ion-modal>
</ion-content>