<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['Main']['Title']}}</ion-title>
    <div (click)="toggleCanvasPlaying()" class="play_button">
      <ion-icon *ngIf="!isPlayingCanvas.loop" button style="width: 24px; height: 24px;" name="play-circle"></ion-icon>
      <ion-icon *ngIf="isPlayingCanvas.loop" button style="width: 24px; height: 24px;" name="pause-circle"></ion-icon>
    </div>
    <div (click)="nakama.open_add_todo_page()" class="add_button">
      <ion-icon button style="width: 24px; height: 24px; " name="add-circle-outline"></ion-icon>
    </div>
    <div class="header_online_circle"
      [style]="'background-color: ' + statusBar.colors[statusBar.settings.groupServer] + '; cursor: pointer;'"
      (click)="toggle_session()">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content oncontextmenu="return false;">
  <div *ngIf="isEmptyTodo">
    <div class="disconnect_info" (click)="nakama.open_add_todo_page()">
      <ion-icon style="width: 60px; height: 60px;" color="medium" name="create-outline"></ion-icon>
      <div>
        <ion-label color="medium">{{lang.text['Main']['NoTodo']}}</ion-label>
      </div>
    </div>
  </div>
  <div class="full_screen" id="todo">
    <div *ngIf="!isEmptyTodo" style="position: absolute; top: 16px; left: 16px;">
      <button class="FilterSwitchButton"
        (click)="SwitchTargetFilter()">{{lang.text['TodoDetail'][TargetFilterDisplayName]}}</button>
      <button *ngFor="let kind of AllCategories[TargetFilterName]" class="FilterSwitchButton"
        [style]="'background-color: ' + (kind.color || '#8888')" (click)="ChangeFilterValue(kind.value)">
        {{lang.text['TodoDetail'][kind.name]}}
      </button>
    </div>
  </div>
</ion-content>