.md .play_button {
    position: absolute;
    right: 116px;
    top: 16px;
    cursor: pointer;
}

.ios .play_button {
    position: absolute;
    right: 96px;
    top: 10px;
    cursor: pointer;
}

.md .add_button {
    position: absolute;
    right: 68px;
    top: 16px;
    cursor: pointer;
}

.ios .add_button {
    position: absolute;
    right: 58px;
    top: 10px;
    cursor: pointer;
}


// 필터 변경 버튼
.FilterSwitchButton {
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    background-color: #8888;
    margin-right: 8px;
    margin-bottom: 8px;
}