.md .add_post {
    position: absolute;
    right: 68px;
    top: 16px;
    cursor: pointer;
}

.ios .add_post {
    position: absolute;
    right: 68px;
    top: 10px;
    cursor: pointer;
}

.md .CardContainerDiv {
    padding-top: 14px;
}

.ios .CardContainerDiv {
    padding-top: 20px;
}

.CardContainerDivShared {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 16px;
    padding: 16px;
    padding-right: 0px;
}

.card_style {
    width: 90%;
    margin-top: 0;
}

.md .cardCreator {
    width: fit-content;
    font-weight: bold;
    max-height: 20px;
    overflow-y: hidden;
}

.md .cardTitle {
    max-height: 24px;
    overflow-y: hidden;
}

.md .cardContent {
    max-height: 40px;
    overflow-y: hidden;
    padding-bottom: 0;
    margin-bottom: 13px;
}

.ios .cardCreator {
    width: fit-content;
    font-weight: bold;
    max-height: 20px;
    overflow-y: hidden;
}

.ios .cardTitle {
    max-height: 34px;
    overflow-y: hidden;
}

.ios .cardContent {
    max-height: 40px;
    overflow-y: hidden;
    padding-bottom: 0;
    margin-bottom: 13px;
}

.thumbnail_image {
    width: 100%;
    max-height: 240px;
    object-fit: cover;
    overflow: hidden;
}