<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['Community']['Title']}}</ion-title>
    <div (click)="add_post()" class="add_post">
      <ion-icon button style="width: 24px; height: 24px; " name="add-circle-outline"></ion-icon>
    </div>
    <div class="header_online_circle"
      [style]="'background-color: ' + statusBar.colors[statusBar.settings.groupServer] + '; cursor: pointer;'"
      (click)="nakama.toggle_all_session()">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="CommunityScrollDiv" style="height: 100%; overflow-y: auto;">
    <div id="CommunityMainContent">
      <div *ngIf="nakama.posts.length" class="CardContainerDiv CardContainerDivShared">
        <ion-card *ngFor="let post of nakama.posts; let i = index" button class="card_style"
          (click)="nakama.open_post(post, i)" (contextmenu)="PostContextMenu(i)">
          <div class="thumbnail_image">
            <img *ngIf="post['mainImage']" [src]="post['mainImage']['thumbnail']"
              [style]="post['isNSFW'] ? 'filter: blur(16px);' : ''" alt="">
          </div>
          <ion-card-header>
            <ion-card-subtitle class="cardCreator">
              <span [style]="'color: #' + post['UserColor']"> {{post['creator_name']}}
              </span>
              <span *ngIf="nakama.showServer" style="color: #888; font-weight: normal;">
                {{'(' + (post['server'] ? (post['server']['name'] || post['server']['target']) :
                lang.text['AddGroup']['UseLocalStorage']) + ')'}}
              </span>
            </ion-card-subtitle>
            <ion-card-title class="cardTitle">{{post['title']}}</ion-card-title>
          </ion-card-header>
          <ion-card-content class="cardContent">
            {{post['content']}}
          </ion-card-content>
        </ion-card>
      </div>
      <div *ngIf="!nakama.posts.length">
        <div class="disconnect_info" (click)="add_post()">
          <ion-icon style="width: 60px; height: 60px;" color="medium" name="document-text-outline"></ion-icon>
          <div>
            <ion-label color="medium">{{lang.text['Community']['NoPosts']}}</ion-label>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>