// 창이 지정된 픽셀보다 크면 크기를 고정시킴
@media screen and (min-width: 840px) {
  .main_div {
    width: 840px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
// 그게 아니라면 유동 처리해줌
.main_div {
  width: 840px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

// 전체 화면을 가운데로 맞춤처리
.display_full {
  width: 100%;
  display: flex;
  justify-content: center;
}

// 가운데 배치되는 테이블
.main_table {
  width: 100%;
  border: 0;
}
