<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>SC1: 캠페인식 컴까기</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="display_width_full">
    <div class="main_div">
      <table class="main_table">
        <tr>
          <h4>타이틀 영상</h4>
        </tr>
        <tr>
          <div>
            <img id="main_video" src="" alt="Youtube에서 보기" (click)="link_youtube()">
          </div>
        </tr>
        <tr>
          <app-campaign-panel></app-campaign-panel>
        </tr>
      </table>
    </div>
  </div>
</ion-content>