<ion-content>
  <div class="display_width_full">
    <div class="main_div">
      <table class="main_table">
        <tr>
          <div id="main_video_form" style="position: relative;" (click)="link_youtube()">
            <img id="main_video" src="assets/data/sc1_custom/video_thumb.png" alt="Youtube 영상 보기"
              (click)="link_youtube()">
            <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); width: fit-content;">
              <b style="font-size: 32px; word-break: keep-all;">SC1: 캠페인식 컴까기 공식페이지</b>
            </div>
          </div>
        </tr>
        <tr style="height: 16px;"></tr>
        <tr>
          <div id="sc1_list" style="width: 100%; height: 380px;"></div>
        </tr>
      </table>
    </div>
  </div>
</ion-content>