<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['admin_noti_all']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>{{lang.text['Administrator']['AboutThisNotification']}}</ion-label>
  </ion-item-divider>
  <textarea class="infobox" disabled [(ngModel)]="info_text"></textarea>
  <ion-item-divider>
    <ion-label>{{lang.text['Administrator']['InputMessageInfo']}}</ion-label>
  </ion-item-divider>
  <img *ngIf="userInput.img_url" [src]="userInput.img_url" alt="">
  <ion-item [hidden]="cant_use_clipboard" (click)="imageURLPasted()" [disabled]="imageURL_disabled">
    <ion-label color="medium">{{lang.text['Profile']['pasteURI']}}</ion-label>
  </ion-item>
  <ion-item [hidden]="!cant_use_clipboard">
    <ion-input type="text" [placeholder]="lang.text['Profile']['enterURI']" [(ngModel)]="userInput.img_url"></ion-input>
    <ion-button (click)="imageURLPasted()">
      {{lang.text['Profile']['change_img']}}
    </ion-button>
  </ion-item>
  <ion-item button>
    <ion-label>{{lang.text['Administrator']['CommunityNotification']}}</ion-label>
    <ion-input type="text" [placeholder]="lang.text['Administrator']['WriteContent']" [(ngModel)]="userInput.text">
    </ion-input>
  </ion-item>
  <ion-button (click)="send()" expand="block">
    {{lang.text['Administrator']['SendNotification']}}
  </ion-button>
</ion-content>