<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['QRCodeGen']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>{{lang.text['QRCodeGen']['UserInput']}}</ion-label>
    <ion-button (click)="userInput = ''; QRCode = ''" slot="end" style="padding-right: 16px;">
      {{lang.text['QRCodeGen']['Reset']}}
    </ion-button>
  </ion-item-divider>
  <textarea class="infobox" [(ngModel)]="userInput" (keyup)="textarea_changed($event)"
    [placeholder]="lang.text['QRCodeGen']['InputHere']"></textarea>
  <img *ngIf="QRCode" id="QRImage" (click)="flip_qrcode()" style="width: 100%; height: auto;" [src]="QRCode"
    alt="Loading">
</ion-content>