<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['QRCodeGen']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>{{lang.text['QRCodeGen']['AboutQRCodeGen']}}</ion-label>
  </ion-item-divider>
  <textarea class="infobox" disabled [(ngModel)]="info"></textarea>
  <ion-item-divider>
    <ion-label>{{lang.text['QRCodeGen']['UserInput']}}</ion-label>
  </ion-item-divider>
  <textarea class="infobox" [(ngModel)]="userInput" (keyup)="textarea_changed($event)"
    [placeholder]="lang.text['QRCodeGen']['InputHere']"></textarea>
  <img *ngIf="QRCode" style="width: 100%; height: auto;" [src]="QRCode" alt="Loading">
</ion-content>