<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header>
  <ion-toolbar>
    <ion-title>수신 동작</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>알림 설정</ion-label>
  </ion-item-divider>
  <ion-item button disabled (click)="localPush.settings.sound=!localPush.settings.sound">
    <ion-label>소리</ion-label>
    <ion-toggle [(ngModel)]="localPush.settings.sound" slot="end" style="pointer-events: none;"></ion-toggle>
  </ion-item>
  <ion-item button disabled (click)="localPush.settings.vibrate=!localPush.settings.vibrate">
    <ion-label>진동</ion-label>
    <ion-toggle [(ngModel)]="localPush.settings.vibrate" slot="end" style="pointer-events: none;"></ion-toggle>
  </ion-item>
  <ion-item-divider>
    <ion-label>휴대폰 백그라운드 행동</ion-label>
  </ion-item-divider>
  <ion-item disabled>
    <ion-label>파일 다운로드 경과 표시</ion-label>
    <ion-toggle value="false" slot="end"></ion-toggle>
  </ion-item>
</ion-content>