<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['ContentViewer']['ContentInfo']}}</ion-title>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>{{lang.text['ContentInfo']['WorkLogs']}}</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>{{lang.text['ContentInfo']['LastPost']}}</ion-label>
    <ion-label class="ion-text-end">
      {{content_creator.user_id ? (content_creator.is_me ? nakama.users.self['display_name'] :
      nakama.users[isOfficial][target][content_creator.user_id]['display_name'])
      : content_creator.display_name}}</ion-label>
  </ion-item>
  <ion-item *ngIf="content_creator.various">
    <ion-label>{{lang.text['ContentInfo']['SourceFrom']}}</ion-label>
    <ion-label class="ion-text-end"
      *ngIf="content_creator.various == 'loaded'">{{lang.text['GlobalAct']['variousCreator']}}</ion-label>
    <ion-label class="ion-text-end"
      *ngIf="content_creator.various == 'camera'">{{lang.text['GlobalAct']['FromCamera']}}</ion-label>
    <ion-label class="ion-text-end"
      *ngIf="content_creator.various == 'voidDraw'">{{lang.text['GlobalAct']['FromVoidDraw']}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>{{lang.text['ContentInfo']['TimeAt']}}</ion-label>
    <ion-label class="ion-text-end">{{content_creator.timeDisplay}}</ion-label>
  </ion-item>
  <div *ngFor="let worker of content_related_creator">
    <ion-item-divider>
      <div style="width: 100%; text-align: center;">{{worker.timeDisplay}}</div>
    </ion-item-divider>
    <ion-item>
      <ion-label>{{lang.text['ContentInfo']['Publisher']}}</ion-label>
      <ion-label class="ion-text-end">{{worker.publisher || worker.display_name}}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>{{lang.text['ContentInfo']['SourceFrom']}}</ion-label>
      <ion-label class="ion-text-end"
        *ngIf="worker.various == 'loaded'">{{lang.text['GlobalAct']['variousCreator']}}</ion-label>
      <ion-label class="ion-text-end"
        *ngIf="worker.various == 'camera'">{{lang.text['GlobalAct']['FromCamera']}}</ion-label>
      <ion-label class="ion-text-end"
        *ngIf="worker.various == 'voidDraw'">{{lang.text['GlobalAct']['FromVoidDraw']}}</ion-label>
    </ion-item>
  </div>
</ion-content>