#main_video {
    text-align: center;
    width: 100%;
    height: auto;
}

#main_video_form:hover {
    cursor: pointer;
}

ion-content {
    --ion-background-color: #222;
    --ion-text-color: #ddd;
}