<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['Title']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/main"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div [hidden]="isAdHiding">
    <ion-item-divider>
      <ion-label>{{lang.text['Settings']['CommunityAds']}}</ion-label>
      <ion-button slot="end" (click)="open_link('https://is2you2.github.io/')" fill="clear" shape="round">
        {{lang.text['Settings']['AdsContact']}}
      </ion-button>
    </ion-item-divider>
    <div id="advertise" class="advertise_banner"></div>
  </div>
  <ion-item-divider>
    <ion-label>{{lang.text['Settings']['env_info']}}</ion-label>
  </ion-item-divider>
  <ion-item button (click)="go_to_page('noti-alert')">
    <ion-label>{{lang.text['Settings']['NotificationSetting']}}</ion-label>
  </ion-item>
  <ion-item button (click)="go_to_qr_share()">
    <ion-label>{{lang.text['Settings']['quickQRshare']}}</ion-label>
  </ion-item>
  <ion-item button (click)="open_inapp_explorer()">
    <ion-label>{{lang.text['Settings']['InAppExplorer']}}</ion-label>
  </ion-item>
  <ion-accordion-group #Devkit>
    <ion-accordion value="Devkit">
      <ion-item slot="header">
        <ion-label>{{lang.text['Settings']['DevKit']}}</ion-label>
      </ion-item>
      <div slot="content">
        <ion-item button (click)="go_to_page('weblink-gen')">
          <ion-label>{{lang.text['Settings']['WebLinkGen']}}</ion-label>
        </ion-item>
        <ion-item button id="fallback_fs_input">
          <ion-input [label]="lang.text['Settings']['FallbackFS']" class="ion-text-right"
            [(ngModel)]="FallbackServerAddress" placeholder="0.0.0.0:0" (ionInput)="fallback_fs_input()"></ion-input>
        </ion-item>
        <ion-item button (click)="go_to_webrtc_manager()">
          <ion-label>{{lang.text['WebRTCDevManager']['Title']}}</ion-label>
        </ion-item>
        <ion-item *ngIf="!cant_dedicated && can_use_http" button (click)="start_minimalserver()">
          <ion-label>{{lang.text['Settings']['joinDediChat']}}</ion-label>
        </ion-item>
        <ion-item button (click)="download_serverfile()">
          <ion-label>{{lang.text['Settings']['ServerFiles']}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <div *ngIf="as_admin.length">
    <ion-item-divider>
      <ion-label>{{lang.text['Settings']['admin_tools']}}</ion-label>
    </ion-item-divider>
    <ion-item button (click)="go_to_page('admin-tools')">
      <ion-label>{{lang.text['Settings']['ServerAdmin']}}</ion-label>
    </ion-item>
  </div>
  <ion-item-divider>
    <ion-label>{{lang.text['Settings']['AppInfo']}}</ion-label>
  </ion-item-divider>
  <ion-item button (click)="go_to_page('creator')">
    <ion-label>{{lang.text['Settings']['AppCreator']}}</ion-label>
  </ion-item>
  <ion-item *ngIf="lang.lang != 'ko'" button (click)="go_to_page('translator')">
    <ion-label>{{lang.text['Settings']['AppTranslator']}}</ion-label>
  </ion-item>
  <ion-item button (click)="LangClicked()">
    <ion-icon class="icon_margin" name="language"></ion-icon>
    <ion-select [label]="lang.text['Settings']['AppLanguage']" #LangSel style="pointer-events: none;"
      [value]="lang.lang" [placeholder]="lang.lang" (ionChange)="LanguageChanged($event)">
      <ion-select-option value="en">English</ion-select-option>
      <ion-select-option value="ko">한국어</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item button (click)="go_to_page('licenses')">
    <ion-label>{{lang.text['Settings']['LicenseNotice']}}</ion-label>
  </ion-item>
  <ion-item *ngIf="cant_dedicated" button (click)="open_playstore()">
    <ion-label>{{lang.text['Settings']['OpenPlayStore']}}</ion-label>
  </ion-item>
</ion-content>