<ion-header>
  <ion-toolbar>
    <ion-title>설정</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="advertise" class="advertise_banner"></div>
  <ion-item-divider>
    <ion-label>개인정보</ion-label>
  </ion-item-divider>
  <ion-item button (click)="go_to_page('profile')">
    <div class="additional_form bg_img_form">
      <img class="bg_img" [style]="profile_filter" [src]="profile_img">
    </div>
    <ion-label>내 정보</ion-label>
  </ion-item>
  <ion-item button (click)="go_to_page('link-account')">
    <ion-label>사용자 인계</ion-label>
  </ion-item>
  <ion-item-divider>
    <ion-label>서버 관리</ion-label>
  </ion-item-divider>
  <ion-item button (click)="go_to_page('group-server')">
    <div class="additional_form status_bar_single"
      [style]="'background-color: ' + statusBar.colors[statusBar.settings['groupServer']]"></div>
    <ion-label class=" form_margin">그룹 서버</ion-label>
  </ion-item>
  <ion-item button (click)="go_to_page('community-server')">
    <div class="additional_form status_bar_single"
      [style]="'background-color: ' + statusBar.colors[statusBar.settings['communityServer']]"></div>
    <ion-label class=" form_margin">커뮤니티 서버</ion-label>
  </ion-item>
  <ion-item button (click)="go_to_page('dedicated-settings')" [disabled]="cant_dedicated">
    <div class="additional_form status_bar_single"
      [style]="'background-color: ' + statusBar.colors[statusBar.settings['dedicatedServer']]"></div>
    <ion-label class="form_margin">이 기기를 기능 서버로</ion-label>
  </ion-item>
  <ion-item-divider>
    <ion-label>그룹 관리</ion-label>
  </ion-item-divider>
  <ion-item button (click)="go_to_page('add-group')" [disabled]="statusBar.settings['groupServer'] == 'offline'">
    <ion-label>그룹 생성하기</ion-label>
  </ion-item>
  <ion-item button *ngFor="let group of groups; index as i" (click)="go_to_group_detail(i)">
    <div class="additional_form status_bar_single"
      [style]="'background-color: ' + statusBar.colors[statusBar.groupServer[group.server.isOfficial][group.server.target]]">
    </div>
    <div class="additional_form bg_img_form">
      <img class="bg_img" style="filter: grayscale(0) contrast(1);" [src]="group.img">
    </div>
    <ion-label class="form_margin">
      <p>{{group.server.name + ' (' + group.server.target + ')'}}</p>
      <h2>{{group.title}}</h2>
    </ion-label>
  </ion-item>
  <ion-item-divider>
    <ion-label>커뮤니티</ion-label>
  </ion-item-divider>
  <ion-item button [disabled]="will_enter" (click)="start_minimalchat()">
    <ion-label>랜덤채팅 참여</ion-label>
  </ion-item>
  <ion-item button [disabled]="will_enter">
    <ion-label>사설 그룹채팅</ion-label>
    <ion-input class="ion-text-center" [placeholder]="'기본: 127.0.0.1'" [(ngModel)]="chat_address"></ion-input>
    <ion-button (click)="start_minimalchat(chat_address ? 'ws://' + chat_address : 'ws://127.0.0.1')">
      참여
    </ion-button>
  </ion-item>
  <ion-item-divider>
    <ion-label>앱 정보</ion-label>
  </ion-item-divider>
  <ion-item button (click)="go_to_page('creator')">
    <ion-label>제작자</ion-label>
  </ion-item>
  <ion-item button (click)="go_to_page('translator')">
    <ion-label>번역가</ion-label>
  </ion-item>
  <ion-item button (click)="go_to_page('privacy')">
    <ion-label>개인정보처리방침</ion-label>
  </ion-item>
  <ion-item button (click)="go_to_page('licenses')">
    <ion-label>라이선스 고지</ion-label>
  </ion-item>
  <ion-item button (click)="go_to_dev_blog()">
    <ion-label>개발자 홈페이지 바로가기</ion-label>
  </ion-item>
</ion-content>