.image-table {
    width: 100%;
}

.text-padding {
    padding: 16px 16px 16px 16px;
}

.form-align {
    text-align: center;
}

.form {
    max-width: 560px;
    width: 100%;
    margin: 0 auto;
}

p {
    word-break: keep-all;
}