<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header>
  <ion-toolbar>
    <ion-title>발신 동작</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>휴대폰 백그라운드 행동</ion-label>
  </ion-item-divider>
  <ion-item disabled>
    <ion-label>파일 업로드 경과 표시</ion-label>
    <ion-toggle value="false" slot="end"></ion-toggle>
  </ion-item>
</ion-content>