<ion-header>
  <ion-toolbar>
    <ion-title>그룹 공유</ion-title>
    <ion-buttons slot="start" (click)="edit_group()">
      <ion-back-button defaultHref="settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item button (click)="buttonClickInputFile()">
    <div class="additional_form status_bar_single"
      [style]="'background-color: ' + statusBar.colors[(info.status || statusBar.groupServer[info.server.isOfficial][info.server.target])]">
    </div>
    <div class="additional_form bg_img_form">
      <img class="bg_img"
        [style]="'filter: ' + (info.status || statusBar.groupServer[info.server.isOfficial][info.server.target] == 'online' ? 'grayscale(0) contrast(1);' : 'grayscale(.9) contrast(1.4);')"
        [src]="info.img">
    </div>
    <ion-label class="form_margin">
      <p>{{info.server.name + ' (' + info.server.target + ')'}}</p>
      <h2>{{info.title}}</h2>
    </ion-label>
  </ion-item>
  <input hidden type="file" id="file_sel" accept="image/*" (change)="inputImageSelected($event)">
  <ion-item-divider>
    <ion-label>그룹 설명</ion-label>
  </ion-item-divider>
  <textarea class="infobox" [disabled]="!has_admin" [(ngModel)]="info.desc" [placeholder]="'설명 없는 그룹'"></textarea>
  <ion-item-divider *ngIf="info['users'] && info['users'].length">
    <ion-label>그룹 구성원</ion-label>
  </ion-item-divider>
  <ion-item button *ngFor="let user of info['users']; i as index" (click)="open_user_profile(user)">
    <div class="additional_form status_bar_single"
      [style]="'background-color: ' + statusBar.colors[statusBar.groupServer[info.server.isOfficial][info.server.target]]">
    </div>
    <div class="additional_form bg_img_form">
      <img class="bg_img"
        [style]="'filter: ' + (statusBar.groupServer[info.server.isOfficial][info.server.target] == 'online' ? 'grayscale(0) contrast(1);' : 'grayscale(.9) contrast(1.4);')"
        [src]="user.img">
    </div>
    <ion-label class="form_margin">{{user.user.display_name}}</ion-label>
  </ion-item>
  <ion-item-divider>
    <ion-label>아래를 스캔하여 참여</ion-label>
  </ion-item-divider>
  <img *ngIf="QRCodeSRC" [src]="QRCodeSRC" style="width: 100%; height: auto;" alt="준비중">
  <ion-item *ngIf="has_admin" button (click)="remove_group()">
    <ion-label class="ion-text-center" color="danger">그룹 해산</ion-label>
  </ion-item>
  <ion-item *ngIf="!has_admin && info['status'] == 'missing'" button (click)="remove_group_locally()">
    <ion-label class="ion-text-center" color="danger">그룹 기록 삭제</ion-label>
  </ion-item>
</ion-content>