<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['TodoDetail']['Title']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/main"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="p5Drop_todo"
    style="position: absolute; width: 100%; height: 100%; display: flex; pointer-events: none; z-index: 500;">
  </div>
  <table id="main_table" style="width: 100%; height: 100%;">
    <tr style="height: 100%;">
      <td style="vertical-align: top;">
        <div id="p5timer" style="position: absolute; width: 100%; height: 8px; z-index: 2;"></div>
        <div id="main_div" class="main" style="max-width: 100vw;">
          <ion-item *ngIf="isStoreAtChangable && AmICreator" (click)="StoreAtSelClicked()">
            <ion-select [label]="lang.text['TodoDetail']['StoreAt']" #StoreAt style="pointer-events: none;"
              (ionChange)="StoreAtSelChanged($event)">
              <ion-select-option value="local">{{lang.text['TodoDetail']['OnThisDevice']}}</ion-select-option>
              <ion-select-option *ngFor="let target of AvailableStorageList;" [value]="target">{{target.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="!isStoreAtChangable || !AmICreator">
            <ion-item>
              <ion-label color="medium">{{ userInput.display_store || lang.text['TodoDetail']['WIP'] }}</ion-label>
              <ion-label color="medium" class="ion-text-right">{{ userInput.display_creator }}</ion-label>
            </ion-item>
          </div>
          <ion-grid *ngIf="isModify" fixed>
            <ion-row>
              <ion-col col-33>
                <ion-item button color="success" [disabled]="isButtonClicked" (click)="doneTodo()">
                  <ion-label class="ion-text-center">{{lang.text['TodoDetail']['TodoComplete']}}</ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-item>
            <ion-input id="titleInput" [label]="lang.text['TodoDetail']['DisplayName']" [(ngModel)]="userInput.title"
              class="ion-text-right" [placeholder]="lang.text['TodoDetail']['DisplayName_placeholder']"></ion-input>
            <ion-icon *ngIf="isMobile" slot="end" name="mic-outline" (click)="SpeechToTitleText()"></ion-icon>
          </ion-item>
          <div *ngIf="userInput.storeAt != 'local' && isManager && WorkerGroups.length">
            <ion-accordion-group #ManageWorker>
              <ion-accordion>
                <ion-item button slot="header">
                  <ion-label>{{lang.text['TodoDetail']['ManageWorker']}}</ion-label>
                </ion-item>
                <div slot="content">
                  <ion-accordion-group #Groups>
                    <ion-accordion *ngFor="let key of WorkerGroups" [value]="key.id">
                      <ion-item button slot="header">
                        <ion-label>{{key.name}}</ion-label>
                      </ion-item>
                      <div slot="content">
                        <ion-item button (click)="toggle_all_user(key.id)">
                          <ion-label>{{lang.text['TodoDetail']['ToggleWorkers']}}</ion-label>
                        </ion-item>
                        <ion-item *ngFor="let worker of AvailableWorker[key.id]">
                          <ion-checkbox [(ngModel)]="worker.todo_checked">{{worker.display_name}}</ion-checkbox>
                        </ion-item>
                      </div>
                    </ion-accordion>
                  </ion-accordion-group>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>
          <ion-item button (click)="ImporantSelClicked()">
            <ion-select [label]="lang.text['TodoDetail']['Importance']" #ImporantSel style="pointer-events: none;"
              [value]="userInput.importance" (ionChange)="ImporantSelChanged($event)">
              <ion-select-option value="2">{{lang.text['TodoDetail']['Importance_2']}}</ion-select-option>
              <ion-select-option value="1">{{lang.text['TodoDetail']['Importance_1']}}</ion-select-option>
              <ion-select-option value="0">{{lang.text['TodoDetail']['Importance_0']}}</ion-select-option>
            </ion-select>
          </ion-item>
          <div *ngIf="!isStoreAtChanged && userInput.workers">
            <ion-accordion-group #ManageWorker>
              <ion-accordion>
                <ion-item button slot="header">
                  <ion-label>{{lang.text['TodoDetail']['ManageWorker']}}</ion-label>
                  <ion-label class="ion-text-end">{{worker_done + ' / ' + userInput.workers.length}}</ion-label>
                </ion-item>
                <div slot="content">
                  <ion-item *ngFor="let worker of userInput.workers" class="ignore_check">
                    <ion-label>{{worker.name}}</ion-label>
                    <div *ngIf="worker.displayTime" style="color: var(--ion-color-medium);">{{worker.displayTime}}</div>
                    <ion-icon *ngIf="worker.isDelete === undefined" slot="end" color="medium"
                      name="ellipsis-horizontal-circle-outline"></ion-icon>
                    <ion-icon *ngIf="worker.isDelete == true" slot="end" color="danger"
                      name="close-circle-outline"></ion-icon>
                    <ion-icon *ngIf="worker.isDelete == false" slot="end" color="success"
                      name="checkmark-circle-outline"></ion-icon>
                  </ion-item>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </div>
          <ion-item button>
            <ion-label>{{lang.text['TodoDetail']['CustomColor']}}</ion-label>
            <ion-label button color="medium" *ngIf="!userInput.custom_color" (click)="toggle_custom_color()"
              class="ion-text-end">{{lang.text['TodoDetail']['SetCustomColor']}}</ion-label>
            <div *ngIf="userInput.custom_color">
              <button style="height: 27px; transform: translateY(-3px); padding: 0px 8px;"
                (click)="toggle_custom_color()">
                {{lang.text['TodoDetail']['remove']}} </button>
              <input type="color" style="margin-right: 8px; height: 27px; cursor: pointer;"
                [(ngModel)]="userInput.custom_color">
            </div>
          </ion-item>
          <ion-accordion-group #DateTime>
            <ion-accordion value="Start">
              <ion-item button slot="header">
                <ion-label>{{lang.text['TodoDetail']['startFrom']}}</ion-label>
                <ion-label class="ion-text-right uneditable_data">{{startDisplay ||
                  lang.text['TodoDetail']['startImmediatly']}}</ion-label>
                <ion-icon class="ion-accordion-toggle-icon hide_accordion_icon"></ion-icon>
              </ion-item>
              <div slot="content">
                <ion-datetime #StartCalendar style="display: inline;" [locale]="lang.lang"
                  (ionChange)="start_change($event)"></ion-datetime>
              </div>
            </ion-accordion>
            <ion-accordion value="Limit">
              <ion-item button slot="header">
                <ion-label>{{lang.text['TodoDetail']['limit']}}</ion-label>
                <ion-label class="ion-text-right uneditable_data">{{limitDisplay}}</ion-label>
                <ion-icon class="ion-accordion-toggle-icon hide_accordion_icon"></ion-icon>
              </ion-item>
              <div slot="content">
                <ion-datetime #Calendar style="display: inline;" [locale]="lang.lang"
                  (ionChange)="limit_change($event)"></ion-datetime>
              </div>
            </ion-accordion>
          </ion-accordion-group>
          <ion-item-divider *ngIf="isMobile">
            <ion-label>{{lang.text['TodoDetail']['description']}}</ion-label>
            <ion-icon slot="end" name="mic-outline" (click)="SpeechToDetailText()"></ion-icon>
          </ion-item-divider>
          <textarea id="descInput" class="infobox" style="height: 240px;" [(ngModel)]="userInput.description"
            [placeholder]="lang.text['TodoDetail']['description']"></textarea>
          <div *ngFor="let attach of userInput.attach; index as i">
            <ion-item>
              <ion-label text-wrap>{{attach.filename}}</ion-label>
              <ion-button *ngIf="isModifiable" (click)="remove_attach(i)">
                {{lang.text['TodoDetail']['remove']}}
              </ion-button>
            </ion-item>
            <div *ngIf="attach['viewer']" (click)="open_content_viewer(i)">
              <img *ngIf="attach['thumbnail']" [id]="'TodoAttach_' + i" class="image_thumbnail"
                [src]="attach['thumbnail']" [alt]="attach['filename']">
              <ion-item button *ngIf="!attach['thumbnail']">
                <ion-label color="medium">{{lang.text['TodoDetail']['open_content_viewer']}}</ion-label>
              </ion-item>
            </div>
          </div>
          <ion-item *ngIf="isModifiable" button (click)="open_select_new()">
            <ion-label>{{lang.text['TodoDetail']['attachments']}}</ion-label>
            <ion-item style="display: none;">
              <ion-select [label]="lang.text['TodoDetail']['new_attach']" #NewAttach interface="action-sheet"
                (ionChange)="new_attach($event)" (ionDismiss)="AddShortCut()">
                <ion-select-option value="camera">{{lang.text['GlobalAct']['FromCamera']}}</ion-select-option>
                <ion-select-option value="image">{{lang.text['TodoDetail']['new_draw']}}</ion-select-option>
                <ion-select-option value="inapp">{{lang.text['TodoDetail']['user_fs']}}</ion-select-option>
                <ion-select-option value="load">{{lang.text['TodoDetail']['add_attach']}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-item>
          <input hidden type="file" [id]="file_sel_id" accept="*" multiple (change)="inputImageSelected($event)">
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div style="width: 100%;">
          <table id="bottom_buttons" style="width: 100%; background-color: black;">
            <tr>
              <td>
                <ion-button [disabled]="isButtonClicked" (click)="saveData()" expand="block">
                  {{buttonDisplay.saveTodo}}
                </ion-button>
              </td>
              <td *ngIf="isModify">
                <ion-button color="danger" [disabled]="isButtonClicked" (click)="deleteData()" expand="block">
                  {{lang.text['TodoDetail']['remove']}}
                </ion-button>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</ion-content>