// 선택된 날짜 보여주기
.uneditable_data {
    color: #888;
}

.main {
    width: 100%;
    height: 100%;
    padding-top: 8px;
    scroll-behavior: smooth;
}

.group_background {
    --background: var(--todo-worker-group-bg);
}

.worker_background {
    --background: var(--todo-worker-bg);
}

.logs {
    background: var(--voidDraw-menu-background);
    border-radius: 8px;
    margin: 8px;
    padding: 4px 8px;
    text-align: center;
}

.image_thumbnail {
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: auto;
    cursor: pointer;
}

.ignore_check {
    pointer-events: none;
}