<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header>
  <ion-toolbar>
    <ion-title>해야할 일</ion-title>
    <ion-buttons slot="start" (click)="modalCtrl.dismiss()">
      <ion-back-button defaultHref="main"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <table id="main_table" style="width: 100%; height: 100%;">
    <tr style="height: 100%;">
      <td style="vertical-align: top;">
        <div id="p5timer" style="position: absolute; width: 100%; height: 8px; z-index: 2;"></div>
        <div id="main_div" class="main">
          <ion-item>
            <ion-label>표시명</ion-label>
            <ion-input [(ngModel)]="userInput.title" class="ion-text-right" placeholder="짧게"></ion-input>
          </ion-item>
          <ion-item button (click)="ImporantSelClicked()">
            <ion-label>중요도</ion-label>
            <ion-select #ImporantSel style="pointer-events: none;" [value]="userInput.importance"
              (ionChange)="ImporantSelChanged($event)">
              <ion-select-option value="2">중요함</ion-select-option>
              <ion-select-option value="1">기억해야 함</ion-select-option>
              <ion-select-option value="0">메모</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item button (click)="toggle_calendar()">
            <ion-label>기한</ion-label>
            <ion-label class="ion-text-right uneditable_data">{{limitDisplay}}</ion-label>
          </ion-item>
          <ion-datetime #Calendar [hidden]="isCalendarHidden" style="display: inline;" [locale]="lang.lang"
            (ionChange)="limit_change($event)"></ion-datetime>
          <ion-item>
            <ion-label>상세 내용</ion-label>
          </ion-item>
          <textarea class="infobox" [(ngModel)]="userInput.description" placeholder="해야할 일 상세 내용"></textarea>
          <img *ngIf="ImageURL" [src]="ImageURL" alt="attach_image" (click)="go_to_ionic_viewer()">
          <ion-item button (click)="select_attach_image()">
            <ion-label>첨부파일</ion-label>
            <ion-label class="ion-text-right uneditable_data">{{userInput.attach['filename'] || '없음'}}</ion-label>
          </ion-item>
          <input hidden type="file" id="file_sel" accept="image/*" (change)="inputImageSelected($event)">
          <div *ngIf="userInput.logs.length">
            <ion-item button (click)="toggle_logs()">
              <ion-label>기록</ion-label>
            </ion-item>
            <div [hidden]="isLogsHidden">
              <div *ngFor="let log of userInput.logs" class="logs">
                {{log.displayText || log.translateCode}}
              </div>
            </div>
          </div>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div style="width: 100%;">
          <table id="bottom_buttons" style="width: 100%; background-color: black;">
            <tr>
              <td>
                <ion-button [disabled]="isSaveClicked" (click)="saveData()" expand="block">
                  추가
                </ion-button>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
</ion-content>