<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>{{lang.text['Settings']['LicenseNotice']}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Ionic frameworks modules</ion-label>
  </ion-list-header>
  <textarea class="infobox" style="height: 480px;" disabled [(ngModel)]="licenses['modules']"></textarea>
  <ion-list-header>
    <ion-label>Godot engine</ion-label>
    <ion-button (click)="open_link('https://godotengine.org/')">{{lang.text['Licenses']['open_link']}}</ion-button>
  </ion-list-header>
  <ion-item-divider>
    <ion-label>Godot engine</ion-label>
  </ion-item-divider>
  <textarea class="infobox" disabled [(ngModel)]="licenses['godot']['engine']"></textarea>
  <ion-item-divider>
    <ion-label>FreeType</ion-label>
  </ion-item-divider>
  <textarea class="infobox" disabled [(ngModel)]="licenses['godot']['freetype']"></textarea>
  <ion-item-divider>
    <ion-label>E Net</ion-label>
  </ion-item-divider>
  <textarea class="infobox" disabled [(ngModel)]="licenses['godot']['enet']"></textarea>
  <ion-item-divider>
    <ion-label>mbed TLS</ion-label>
  </ion-item-divider>
  <textarea class="infobox" disabled [(ngModel)]="licenses['godot']['mbedtls']"></textarea>
  <ion-list-header>
    <ion-label>JS.BLEND</ion-label>
    <ion-button
      (click)="open_link('https://github.com/acweathersby/js.blend')">{{lang.text['Licenses']['open_link']}}</ion-button>
  </ion-list-header>
  <textarea class="infobox" disabled [(ngModel)]="licenses['jsblend']"></textarea>
</ion-content>