<!-- SPDX-FileCopyrightText: © 2023 그림또따 <is2you246@gmail.com>
SPDX-License-Identifier: MIT -->

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['Subscribes']['Title']}}</ion-title>
    <div *ngIf="!cant_dedicated" style="position: absolute; right: 116px; top: 16px" (click)="scanQRCode()">
      <ion-icon style="width: 24px; height: 24px;" name="scan-circle-outline"></ion-icon>
    </div>
    <div (click)="add_new_group()" style="position: absolute; right: 68px; top: 16px;">
      <ion-icon button style="width: 24px; height: 24px; " name="add-circle-outline"></ion-icon>
    </div>
    <div class="header_online_circle" [style]="'background-color: ' + statusBar.colors[statusBar.settings.groupServer]"
      (click)="nakama.toggle_all_session()">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="!StartScan">
  <ion-accordion-group *ngIf="nakama.notifications_rearrange.length" value="colors" expand="inset" [value]="false"
    #accordionGroup>
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>{{lang.text['Subscribes']['has_noties']}}</ion-label>
      </ion-item>
      <div slot="content">
        <div *ngFor="let i of [0,1,2];">
          <ion-item *ngIf="nakama.notifications_rearrange.length > i" button (click)="check_notifications(i)">
            <ion-label>{{nakama.notifications_rearrange[i]['request']}}</ion-label>
          </ion-item>
        </div>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item-divider>
    <ion-label>{{lang.text['Subscribes']['myProfile']}}</ion-label>
  </ion-item-divider>
  <ion-item button (click)="go_to_page('group-server')">
    <div class="additional_form bg_img_form">
      <img class="profile_img"
        [style]="nakama.users.self['online'] ? 'filter: grayscale(0) contrast(1);' : 'filter: grayscale(.9) contrast(1.4);'"
        [src]="nakama.users.self['img']">
    </div>
    <ion-label>{{nakama.users.self['display_name'] || lang.text['Profile']['noname_user']}}</ion-label>
  </ion-item>
  <div *ngIf="nakama.channels.length">
    <ion-item-divider>
      <ion-label>{{lang.text['Subscribes']['JoinedChannels']}}</ion-label>
    </ion-item-divider>
    <ion-item *ngFor="let channel of nakama.channels" button (click)="go_to_chatroom(channel)">
      <div class="additional_form status_bar_double"
        [style]="'background-color: ' + statusBar.colors[channel['status'] || 'offline']">
        <div *ngIf="channel['is_new']" class="new_circle"></div>
      </div>
      <div class="additional_form bg_img_form">
        <img *ngIf="channel['info']" class="profile_img"
          [style]="(channel['status'] == 'online' || (channel['redirect']['type'] == 3 && channel['status'] == 'pending')) ? 'filter: grayscale(0) contrast(1)' : 'filter: grayscale(.9) contrast(1.4)'"
          [src]="channel['info']['img']">
      </div>
      <ion-label>
        <div class="form_margin header">
          <table>
            <tr>
              <td>
                {{channel['info'] ? (channel['info']['name'] || channel['info']['display_name'] ||
                lang.text['ChatRoom']['noname_chatroom']) : (channel['title'] ||
                lang.text['ChatRoom']['noname_chatroom'])}}
              </td>
              <!-- <td class="server_target">
                {{'(' + (channel['server']['name'] || channel['server']['target']) + ')'}}
              </td> -->
            </tr>
          </table>
        </div>
        <div class="form_margin content"> {{channel['last_comment'] || channel['noti'] ||
          lang.text['Subscribes']['noMessageHistory']}} </div>
      </ion-label>
    </ion-item>
  </div>
  <div *ngIf="!nakama.channels.length">
    <div class="disconnect_info" (click)="add_new_group()">
      <ion-icon style="width: 60px; height: 60px;" color="medium" name="chatbubble-ellipses-outline"></ion-icon>
      <div>
        <ion-label color="medium">{{lang.text['Subscribes']['NoChat']}}</ion-label>
      </div>
    </div>
  </div>
</ion-content>