.header {
    padding-bottom: 4px;
}

.content {
    color: #888;
    height: 24px;
    display: table-cell;
    vertical-align: middle;
    padding: 0px 16px;
}

.status_bar {
    width: 5px;
    height: 76%;
}

.server_target {
    color: #888;
    padding-left: 4px;
}