<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['ServerAdmin']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group *ngIf="servers.length" value="colors" expand="inset" [value]="isExpanded" #accordionGroup
    (click)="isExpanded = true">
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label style="display: contents">{{lang.text['AddGroup']['SelectServer']}}</ion-label>
        <ion-label class="ion-text-right">{{servers[index].name}}</ion-label>
        <ion-icon class="ion-accordion-toggle-icon hide_accordion_icon"></ion-icon>
      </ion-item>
      <div slot="content">
        <ion-item *ngFor="let server of servers; index as i" button (click)="select_server(i)">
          <ion-label>{{server.name}}</ion-label>
        </ion-item>
      </div>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item-divider>
    <ion-label>{{lang.text['AdminTools']['ArcadeSet']}}</ion-label>
  </ion-item-divider>
  <ion-item button>
    <ion-input [label]="lang.text['AdminTools']['ArcadeListURL']" class="ion-text-end"
      [placeholder]="lang.text['AdminTools']['ArcadeURLPlaceholder']" [(ngModel)]="ArcadeListURL"></ion-input>
    <ion-icon slot="end" name="open-outline" (click)="SetArcadeURL()"></ion-icon>
  </ion-item>
  <ion-item-divider>
    <ion-label>{{lang.text['AdminTools']['GlobalNoti']}}</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-input [label]="lang.text['AdminTools']['ImageURL']" class="ion-text-end" [(ngModel)]="notification.uri"
      [placeholder]="lang.text['AdminTools']['EnterURI']">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-checkbox [(ngModel)]="notification.persistent">{{lang.text['AdminTools']['isPersistent']}}</ion-checkbox>
  </ion-item>
  <textarea class="infobox content_size" [(ngModel)]="notification.msg"
    [placeholder]="lang.text['AdminTools']['NoNotiMsg']"></textarea>
  <ion-item button [disabled]="is_sending || (!notification.msg && !notification.uri)">
    <ion-label class="ion-text-center" (click)="send_noti_to_server()">{{lang.text['AdminTools']['Send']}}</ion-label>
  </ion-item>
  <ion-item-divider>
    <ion-label>{{lang.text['AdminTools']['UserList'] + ' (' + CurrentOnlineUser + '/' + AllUserCount + ')'}}</ion-label>
    <ion-button style="margin-left: 8px;" (click)="refresh_all_user()">
      {{lang.text['AdminTools']['Refresh']}}
    </ion-button>
    <table slot="end" style="margin-right: 8px;">
      <tr>
        <td (click)="change_user_list_page(-1)">
          <ion-icon slot="start" class="icon_style" name="arrow-back-circle-outline"></ion-icon>
        </td>
        <td>{{current_user_page}}</td>
        <td>/</td>
        <td>{{all_user_page}}</td>
        <td (click)="change_user_list_page(1)">
          <ion-icon slot="start" class="icon_style" name="arrow-forward-circle-outline"></ion-icon>
        </td>
      </tr>
    </table>
  </ion-item-divider>
  <div *ngIf="CurrentOnlineUser == 0" style="height: 245px;">
    <div class="disconnect_info" style="position: relative;">
      <ion-icon style="width: 60px; height: 60px;" color="medium" name="person-circle-outline"></ion-icon>
      <div>
        <ion-label color="medium">{{lang.text['AdminTools']['Requesting']}}</ion-label>
      </div>
    </div>
  </div>
  <ion-accordion-group #UserSel>
    <div *ngFor="let i of current_user_size">
      <ion-accordion [value]="all_users[i].id || all_users[i].user_id">
        <ion-item button slot="header">
          <div class="additional_form bg_img_form">
            <img *ngIf="all_users[i].img" class="profile_img" [src]="all_users[i].img" />
          </div>
          <div class="additional_form status_bar_single"
            [style]="'background-color: ' + statusBar.colors[all_users[i].online ? 'online' : 'offline']">
          </div>
          <ion-label class="form_margin">{{nakama.usernameOverride[isOfficial][target][all_users[i].id] ||
            all_users[i].display_name ||
            lang.text['Profile']['noname_user']}} <span *ngIf="all_users[i]['is_me']" class="server_target">{{'(' +
              lang.text['AdminTools']['AboutMe']
              + ')'}}</span> </ion-label>
          <ion-icon class="ion-accordion-toggle-icon hide_accordion_icon"></ion-icon>
        </ion-item>
        <div slot="content">
          <ion-item (click)="copy_id(all_users[i].id || all_users[i].user_id)" style="cursor: copy;">
            <ion-label color="medium" class="ion-text-center" text-wrap>{{all_users[i].id ||
              all_users[i].user_id}}</ion-label>
          </ion-item>
          <ion-item disabled>
            <ion-label style="display: contents">{{lang.text['AdminTools']['UserCreate']}}</ion-label>
            <ion-label class="ion-text-end">{{all_users[i].display_created}}</ion-label>
          </ion-item>
          <ion-item disabled>
            <ion-label style="display: contents">{{lang.text['AddGroup']['LanguageTag']}}</ion-label>
            <ion-label class="ion-text-end">{{all_users[i].lang_tag}}</ion-label>
          </ion-item>
          <ion-item button (click)="start_private_chat(all_users[i])">
            <ion-label>{{lang.text['OtherProfile']['privacy_chat']}}</ion-label>
          </ion-item>
          <ion-item button (click)="remove_user(all_users[i])">
            <ion-label color="danger" class="ion-text-center">{{lang.text['AdminTools']['ForceLeave']}}</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
    </div>
  </ion-accordion-group>
  <ion-item-divider>
    <ion-label>{{lang.text['AdminTools']['GroupList'] + ' (' + AllGroupCount + ')'}}</ion-label>
    <ion-button style="margin-left: 8px;" (click)="refresh_all_groups()">
      {{lang.text['AdminTools']['Refresh']}}
    </ion-button>
    <table slot="end" style="margin-right: 8px;">
      <tr>
        <td (click)="change_group_list_page(-1)">
          <ion-icon slot="start" class="icon_style" name="arrow-back-circle-outline"></ion-icon>
        </td>
        <td>{{current_group_page}}</td>
        <td>/</td>
        <td>{{all_group_page}}</td>
        <td (click)="change_group_list_page(1)">
          <ion-icon slot="start" class="icon_style" name="arrow-forward-circle-outline"></ion-icon>
        </td>
      </tr>
    </table>
  </ion-item-divider>
  <div *ngIf="AllGroupCount == 0" style="height: 245px;">
    <div class="disconnect_info" style="position: relative;">
      <ion-icon style="width: 60px; height: 60px;" color="medium" name="people-circle-outline"></ion-icon>
      <div>
        <ion-label color="medium">{{lang.text['AdminTools']['Requesting']}}</ion-label>
      </div>
    </div>
  </div>
  <ion-accordion-group #GroupSel>
    <div *ngFor="let i of current_group_size">
      <ion-accordion [value]="all_groups[i].name">
        <ion-item button slot="header">
          <div class="additional_form bg_img_form">
            <img *ngIf="all_groups[i].img" class="profile_img" [src]="all_groups[i].img" />
          </div>
          <div class="additional_form status_bar_single"
            [style]="'background-color: ' + statusBar.colors[all_groups[i].open ? 'online' : 'pending']">
          </div>
          <ion-label class="form_margin">{{all_groups[i].name}}</ion-label>
          <ion-icon class="ion-accordion-toggle-icon hide_accordion_icon"></ion-icon>
        </ion-item>
        <div slot="content">
          <ion-item (click)="copy_id(all_groups[i].id)" style="cursor: copy;">
            <ion-label color="medium" class="ion-text-center" text-wrap>{{all_groups[i].id}}</ion-label>
          </ion-item>
          <ion-item disabled>
            <ion-label style="display: contents">{{lang.text['AddGroup']['LanguageTag']}}</ion-label>
            <ion-label class="ion-text-end">{{all_groups[i].lang_tag}}</ion-label>
          </ion-item>
          <ion-item (click)="copy_id(all_groups[i].creator_id); find_current_user_id(all_groups[i].creator_id)"
            style="cursor: copy;">
            <ion-label style="display: contents" color="medium">{{lang.text['AdminTools']['GroupCreator']}}</ion-label>
            <ion-label color="medium" class="ion-text-end">
              {{(nakama.users[isOfficial][target][all_groups[i].creator_id] ?
              (nakama.usernameOverride[isOfficial][target][all_groups[i].creator_id] ||
              nakama.users[isOfficial][target][all_groups[i].creator_id]['display_name']) :
              nakama.users.self['display_name']) || lang.text['Profile']['noname_user']}}
            </ion-label>
          </ion-item>
          <ion-accordion-group #GroupUserSel>
            <ion-accordion [value]="all_groups[i].name + '_user'">
              <ion-item button slot="header">
                <ion-label style="display: contents">{{lang.text['AdminTools']['GroupUserCounter']}}</ion-label>
                <ion-label class="ion-text-end">{{all_groups[i].edge_count + ' / ' +
                  all_groups[i].max_count}}</ion-label>
              </ion-item>
              <div slot="content">
                <div *ngFor="let user of all_groups[i].users">
                  <ion-item button (click)="copy_id(user.user.id); find_current_user_id(user.user.id)"
                    style="cursor: copy;">
                    <div class="additional_form bg_img_form">
                      <img
                        *ngIf="user.is_me ? nakama.users.self['img'] : nakama.users[isOfficial][target][user.user.id]['img']"
                        class="profile_img"
                        [src]="user.is_me ? nakama.users.self['img'] : nakama.users[isOfficial][target][user.user.id]['img']" />
                    </div>
                    <ion-label>{{(user.is_me ? nakama.users.self['display_name'] :
                      (nakama.usernameOverride[isOfficial][target][user.user.id]
                      || user.user.display_name)) || lang.text['Profile']['noname_user']}}</ion-label>
                  </ion-item>
                </div>
              </div>
            </ion-accordion>
          </ion-accordion-group>
          <ion-item-divider>
            <ion-label>{{lang.text['AddGroup']['GroupDetail_placeholder']}}</ion-label>
          </ion-item-divider>
          <textarea class="infobox" disabled [(ngModel)]="all_groups[i].description"></textarea>
          <ion-item button (click)="force_breakup_group(all_groups[i])">
            <ion-label color="danger" class="ion-text-center">{{lang.text['AdminTools']['ForceBreakUp']}}</ion-label>
          </ion-item>
        </div>
      </ion-accordion>
    </div>
  </ion-accordion-group>
</ion-content>