<ion-header>
  <ion-toolbar>
    <ion-title>{{lang.text['Settings']['admin_tools']}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="portal/settings"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-accordion-group *ngIf="servers.length" value="colors" expand="inset" [value]="isExpanded" #accordionGroup
    (click)="isExpanded = true">
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>{{lang.text['AddGroup']['SelectServer']}}</ion-label>
        <ion-label class="ion-text-right">{{servers[index].name}}</ion-label>
      </ion-item>
      <ion-list slot="content">
        <ion-item *ngFor="let server of servers; index as i" button (click)="select_server(i)">
          <ion-label>{{server.name}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
  </ion-accordion-group>
  <ion-item-divider>
    <ion-label>{{lang.text['AdminTools']['GlobalNoti']}}</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-label>{{lang.text['AdminTools']['ImageURL']}}</ion-label>
    <ion-input class="ion-text-end" [(ngModel)]="notification.uri" [placeholder]="lang.text['AdminTools']['EnterURI']">
    </ion-input>
  </ion-item>
  <textarea class="infobox content_size" [(ngModel)]="notification.msg"
    [placeholder]="lang.text['AdminTools']['NoNotiMsg']"></textarea>
  <ion-item button [disabled]="is_sending">
    <ion-label class="ion-text-center" (click)="send_noti_to_server()">{{lang.text['AdminTools']['Send']}}</ion-label>
  </ion-item>
  <ion-item-divider>
    <ion-label>{{lang.text['AdminTools']['UserList']}}</ion-label>
    <table slot="end" style="margin-right: 8px;">
      <tr>
        <td (click)="change_user_list_page(-1)">
          <ion-icon slot="start" class="icon_style" name="arrow-back-circle-outline"></ion-icon>
        </td>
        <td>{{current_user_page}}</td>
        <td>/</td>
        <td>{{all_user_page}}</td>
        <td (click)="change_user_list_page(1)">
          <ion-icon slot="start" class="icon_style" name="arrow-forward-circle-outline"></ion-icon>
        </td>
      </tr>
    </table>
  </ion-item-divider>
  <ion-accordion-group #UserSel>
    <div *ngFor="let ui of current_size">
      <ion-accordion [value]="all_users[ui].username">
        <ion-item button slot="header">
          <ion-label>{{all_users[ui].display_name || lang.text['Profile']['noname_user']}}</ion-label>
        </ion-item>
        <ion-list slot="content">
          <ion-item button>
            <ion-label>{{lang.text['AdminTools']['UserCreate']}}</ion-label>
            <ion-label slot="end">{{all_users[ui].create_time_display}}</ion-label>
          </ion-item>
          <ion-item button>
            <ion-label>{{lang.text['OtherProfile']['privacy_chat']}}</ion-label>
          </ion-item>
          <ion-item button>
            <ion-label>{{lang.text['AdminTools']['JoinReqGroup']}}</ion-label>
          </ion-item>
          <ion-item button>
            <ion-label color="danger">{{lang.text['AdminTools']['ForceLeave']}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-accordion>
    </div>
  </ion-accordion-group>
</ion-content>